.pagination--button {
  padding: 0.5rem;
  aspect-ratio: 1 / 1;
  color: var(--color-shared-12);
  line-height: 1;
  overflow: hidden;

  &[aria-current='page'] {
    background-color: var(--color-shared-9);
    color: white;
    border-color: var(--opacity-8);
  }
}

.pagination-item--link {
  line-height: 0;
  width: 30px;
  height: 30px;

  & svg {
    line-height: 1;
  }
}

.pagination--list {
  display: flex;
  gap: var(--space-sm);
  list-style: none;
}

@media (forced-colors: active) {
  .pagination--button[aria-current='page'] {
    background-color: Highlight;
  }
}
