.p-a_btn {
  padding: 0.5rem;
  aspect-ratio: 1 / 1;
  color: var(--clr-12);
  line-height: 1;
  overflow: hidden;

  &[aria-current='page'] {
    background-color: var(--clr-9);
    color: white;
    border-color: var(--opa-8);
  }
}

.p-a_itm {
  line-height: 0;
  width: 30px;
  height: 30px;

  & svg {
    line-height: 1;
  }
}

.p-a_lst {
  display: flex;
  gap: var(--s-sm);
  list-style: none;
}

@media (forced-colors: active) {
  .p-a_bu[aria-current='page'] {
    background-color: Highlight;
  }
}
