.badge {
  color: white;
  font-weight: 500;
  background-color: var(--color-shared-9);
  text-decoration: none;
  /* TO make it grow when the content of it is big */
  min-width: var(--badge-size, 1.75em);
  max-width: fit-content;
  height: var(--badge-size, 1.75em);
  line-height: 1;
  padding: 0.125rem;

  /*
    These properties serve as fallbacks. If the corresponding utility functions are
    unavailable, these properties take priority. However, if specific props related to
    avatars are provided, they will override these properties.
  */
  border-radius: var(--badge-corner, 1em);
  font-size: var(--badge-size, 0.825rem);
}

.badge__dot {
  --badge-size: 0.5em;
}

.badge svg {
  width: 1.25em;
}
