.b-a {
  --fx: inline-flex;
  --eq-s: 1.75em;

  font-weight: 500;
  text-decoration: none;
  padding: 0.125em;
  line-height: 1;
  border: 1px solid transparent;

  /*
    These properties serve as fallbacks. If the corresponding utility functions are
    unavailable, these properties take priority. However, if specific props related to
    avatars are provided, they will override these properties.
  */
  border-radius: var(--badge-rad, 1em);
  font-size: var(--badge-size, 0.825rem);

  & svg {
    width: 1.125em;
  }
}

.b-a_dot {
  --eq-s: 0.5em;
}

.b-a_cnt {
  font-size: clamp(0.5rem, 0.825em, 1.25rem);
}
