.badge {
  font-weight: 500;
  text-decoration: none;
  /* TO make it grow when the content of it is big */
  min-width: var(--badge-size, 1.75em);
  max-width: fit-content;
  height: var(--badge-size, 1.75em);
  line-height: 1;
  padding: 0.125em;
  background-color: var(--color-shared-9);
  color: white;

  &.badge--high-contrast {
    background-color: var(--color-shared-12);
    color: var(--surface-1);
    border: 2px solid var(--color-shared-11);
  }
  /*
    These properties serve as fallbacks. If the corresponding utility functions are
    unavailable, these properties take priority. However, if specific props related to
    avatars are provided, they will override these properties.
  */
  border-radius: var(--badge-corner, 1em);
  font-size: var(--badge-size, 0.825rem);
}

.badge__dot {
  --badge-size: 0.5em;
}

.badge svg {
  width: 1.125em;
}

.badge--content {
  font-size: clamp(0.5rem, 0.825em, 1.25rem);
}
