.av- {
  /* TODO: CHECK IF IT INLINE FLEX OR The Cache  */
  --fx: inline-flex;
  --eq-s: 2.75em;

  /* overflow: hidden; */
  padding: 0;
  /* border: 3px solid var(--B1); */
  background:
    linear-gradient(var(--av-b), var(--av-b)) content-box,
    linear-gradient(var(--B1), var(--B1)) padding-box;
  min-width: var(--eq-s);

  /*
    These properties serve as fallbacks. If the corresponding utility functions are
    unavailable, these properties take priority. However, if specific props related to
    avatars are provided, they will override these properties.
  */
  border-radius: var(--avatar-rad, 10em);
  font-size: var(--avatar-size, 1rem);

  & > * {
    border-radius: inherit;
  }
}

.av-I {
  /* width: 100%; */
  object-fit: cover;
}

/* Avatar Variants */

.av-soft {
  --av-b: var(--c3);
  color: var(--c11);
}

.av-solid {
  --av-b: var(--c8);
  color: var(--c12);
}
.av-outline,
.av-dashed {
  --av-b: var(--c3);
  padding: 2px;
  border: 2px solid var(--c9);
}

.av-dashed {
  border-style: dashed;
}

/*
//////////////////////////////////////////////////////////////////////////////////////////////////
  Avatar Group Section
//////////////////////////////////////////////////////////////////////////////////////////////////
*/

.av-G {
  display: flex;
  flex-wrap: wrap;

  & > * {
    transition: transform 0.3s;
    transform-origin: left;
  }
  & > *:hover {
    transform: scale(1.1) translateY(-2px);
    z-index: 1;
  }
}

.av-G-stack > * + * {
  margin-inline-start: -0.5em;
}

.av-G-grid {
  gap: 0.375em;
}
