.popover {
  border: 1px solid var(--surface-6);
  background: var(--surface-1);
  position: absolute;
  z-index: 1000000000000000000000000000;
}

.popover--content {
  font-size: clamp(0.75rem, 0.825em, 1rem);
  padding: 0.25em 1em;
}

.popover--full {
  width: 100%;
}

.popover--auto {
  width: fit-content;
}
