.header {
  padding: 0 1rem;
  border-bottom: 1px solid var(--surface-6);
  position: sticky;
  top: 0;
  left: 0;
  backdrop-filter: blur(20px);
  z-index: 1;
  height: 5rem;
}

.only-mobile {
  display: none;
}

@media (max-width: 768px) {
  .only-mobile {
    display: flex;
  }

  .header--input-search {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--surface-1);
    visibility: hidden;
    z-index: 1;
    &[data-show='true'] {
      visibility: visible;
    }
  }
}

@media (max-width: 568px) {
  .header--logo {
    width: 60px;
  }
}

// .menu {
//   background-color: red;
//   height: 100%;
//   width: 100%;
//   max-width: 360px;
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 10000000000;
// }
