/*
//////////////////////////////////////////////////////////////////////////////////////////////////
  Accdordion Section
//////////////////////////////////////////////////////////////////////////////////////////////////
*/

.a-c {
  --ac-p: 0.75rem 1rem;
  font-size: var(--font-size, var(--acn-size, 1em));
  width: 100%;
  & svg {
    width: 1em;
    stroke: currentColor;
  }
}

/*
//////////////////////////////////////////////////////////////////////////////////////////////////
  Accdordion Item Section
//////////////////////////////////////////////////////////////////////////////////////////////////
*/

.a-c_itm {
  border-block-end: 1px solid var(--B5);
  overflow: hidden;

  /*
    These properties serve as fallbacks. If the corresponding utility functions are
    unavailable, these properties take priority. However, if specific props related to
    avatars are provided, they will override these properties.
  */
  border-radius: var(--acn-rad, 0);
  font-size: var(--acn-size, 1em);
  &.u_outline {
    background: var(--c3);
  }
  &.u_solid {
    border-color: var(--c9);
    background: var(--c9);
  }
}

/* .a-c_itm__outline:not(:first-child) {
  border-top: none;
} */

/*
//////////////////////////////////////////////////////////////////////////////////////////////////
  Accdordion Panel Section
//////////////////////////////////////////////////////////////////////////////////////////////////
*/

.a-c_pnl {
  padding: var(--ac-p);
  color: var(--B12);
  font-size: 0.85em;

  &[data-open='false'] {
    display: none;
  }
}

/*
//////////////////////////////////////////////////////////////////////////////////////////////////
  Accdordion Button Section
//////////////////////////////////////////////////////////////////////////////////////////////////
*/

.a-c_btn {
  width: 100%;
  text-align: start;
  padding: var(--ac-p);
  color: currentColor;
  transform: none;

  &:hover {
    background: var(--O3);
  }
  & svg {
    transition: transform 0.25s;
  }
  &[aria-expanded='true'] svg {
    transform: rotate(180deg);
  }
}
