.b-u {
  --flex: inline-flex;

  height: fit-content;
  border: 1px solid transparent;
  font-weight: 500;
  padding: 0.5em 1.25em;
  max-width: 100%;
  min-width: 3rem;
  transition: transform 50ms cubic-bezier(0.68, 0.55, 0.265, -2);
  transform-origin: bottom center;
  text-decoration: none;
  letter-spacing: 0.5px;
  line-height: 1.3;
  text-align: start;
  gap: var(--s-2xs);

  &:hover {
    background-color: var(--c-4);
  }
  &:active {
    transform: translateY(-1px) scale(1.01);
  }
  &:disabled {
    background-color: var(--bg-5);
    color: var(--bg-11);
    pointer-events: none;
    border-color: var(--bg-5);
  }
  & svg {
    width: 1.1em;
    stroke-width: 1.5px;
  }
  /* &:is(.u_solid,.u_shadow):hover */
  &.u_solid:hover,
  &.u_shadow:hover {
    background-color: var(--c-10);
  }
  &.u_outline:hover {
    background-color: var(--c-4);
  }

  /*
    These properties serve as fallbacks. If the corresponding utility functions are
    unavailable, these properties take priority. However, if specific props related to
    avatars are provided, they will override these properties.
  */
  border-radius: var(--button-rad, var(--rad-sm));
  font-size: var(--button-size, 0.875rem);
  text-transform: var(--button-transform, capitalize);
}

.b-u_text {
  font-size: 0.9em;
}

.b-u-fluid {
  display: flex;
  min-width: 100%;
}

/*
//////////////////////////////////////////////////////////////////////////////////////////////////
  Icon Button Section
//////////////////////////////////////////////////////////////////////////////////////////////////
*/

.bu-i {
  padding: 0.375em;
  line-height: 0;
  width: fit-content;
  border-width: 1px;
  & svg {
    font-size: 1em;
    width: 1.5em;
  }
}

.b-u-transparent {
  border: 1px solid var(--opa-6);
  &:hover {
    background-color: var(--opa-6);
  }
  &:focus-visible {
    outline: 2px dashed var(--opa-11);
  }
}
