.btn {
  height: fit-content;
  border: 1px solid transparent;
  font-weight: 500;
  transition: transform 0.15s;
  padding: 0.5em 1.25em;
  max-width: 100%;
  min-width: 0;
  transition: transform 50ms cubic-bezier(0.68, 0.55, 0.265, -2);
  text-decoration: none;
  letter-spacing: 0.5px;
  transform-origin: bottom center;
  line-height: 1.2;
  /* flex: none; */
  &:hover {
    background-color: var(--color-shared-4);
  }
  &:active {
    transform: translateY(-1px) scale(1.01);
  }
  &:focus-visible {
    outline: 2px dashed var(--color-shared-9);
    outline-offset: 1px;
  }
  &:disabled {
    background-color: var(--surface-5);
    color: var(--surface-11);
    pointer-events: none;
    border-color: var(--surface-5);
  }
  & svg {
    width: 1.1em;
    /* width: max(1.25em, 16px); */
    stroke-width: 1.5px;
  }

  /*
    These properties serve as fallbacks. If the corresponding utility functions are
    unavailable, these properties take priority. However, if specific props related to
    avatars are provided, they will override these properties.
  */
  border-radius: var(--button-corner, var(--corner-sm));
  font-size: var(--button-size, 0.875rem);
  text-transform: var(--button-transform, capitalize);
}

.btn--text {
  font-size: 0.9em;
}

.btn__solid,
.btn__shadow {
  background-color: var(--color-shared-9);
  color: white;

  &:hover {
    background-color: var(--color-shared-10);
  }
}

.btn__outline {
  color: var(--color-shared-11);
  border-color: var(--color-shared-11);
  background-color: var(--color-shared-1);

  &:hover {
    background-color: var(--color-shared-4);
  }
}

.btn__shadow {
  box-shadow: 0px 4px 12px -4px var(--color-shared-8);
}

.btn__mixed {
  color: var(--color-shared-11);
  background-color: var(--color-shared-3);
  border-color: var(--color-shared-5);
}

.btn__soft {
  color: var(--color-shared-11);
  background-color: var(--color-shared-3);
}

.btn__text {
  color: var(--color-shared-11);
  border-color: transparent;
}

.btn__link {
  color: var(--color-shared-11);
  text-decoration: underline 1.25px;
  text-underline-offset: 1.5px;
}

.btn__gradient {
  background-image: linear-gradient(to left, red, green);
}

.btn__fluid {
  display: flex;
  min-width: 100%;
}

/*
//////////////////////////////////////////////////////////////////////////////////////////////////
  Icon Button Section
//////////////////////////////////////////////////////////////////////////////////////////////////
*/

.icon-button {
  padding: 0.375em;
  line-height: 0;
  width: fit-content;
  border-width: 1px;
  & svg {
    font-size: 1em;
    width: 1.5em;
  }
}

.btn__transparent {
  border: 1px solid var(--opacity-6);
  &:hover {
    background-color: var(--opacity-6);
  }
  &:focus-visible {
    outline: 2px dashed var(--opacity-11);
  }
}
