.hero {
  min-height: calc(100vh - 4rem);
  max-width: 1300px;
  padding: 2vw;
  margin: auto;
}

.hero-hdg {
  font-size: max(5vw, 2.5rem);
  line-height: 1.15;
}

.hero-ttl {
  position: relative;
  margin-inline-end: 0.75rem;
}

.hero-svg {
  stroke: var(--pri-9);
  position: absolute;
  left: -10%;
  width: 115%;
  animation: shaking 1.25s ease-in-out infinite;
}

.hero-txt {
  font-size: max(2.5vw, 1.75rem);
  line-height: 1.25;
  color: var(--bg-11);
}

// Here we go

.section {
  min-height: 100vh;
  position: relative;
  padding: var(--s-lg);
  z-index: 1;
  max-width: 100%;
  &:nth-child(even) {
    background: var(--bg-2);
  }
}
.rtl--support {
  position: relative;
  z-index: -20;
}

.direction-item {
  width: 250px;
}
.direction-item--small {
  width: 150px;
}

.feature-list {
  list-style-type: none;
  padding: 0;
}

.feature--item {
  border: 1px solid var(--bg-5);
  padding: 0.75rem;
  border-radius: 0.75rem;
}

.feature-icon {
  font-size: 2rem;
}

.dark--description {
  max-width: 70ch;
}
.article--item {
  padding: 1.25rem;
  border: 1px solid var(--bg-4);
  position: relative;
  z-index: 1;
  border-radius: 0.5rem;
  background-color: var(--bg-1);
}

.article--icon-container {
  background-color: var(--pri-4);
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.article--description {
  max-width: 50ch;
}

.simple--develope {
  position: absolute;
  inset-inline-end: 1rem;
  top: 20%;
  z-index: -1;
}

@keyframes shaking {
  0%,
  100% {
    transform: rotate(0deg);
  }
  10%,
  90% {
    transform: rotate(-2deg);
  }
  20%,
  80% {
    transform: rotate(3deg);
  }
  30%,
  70% {
    transform: rotate(-4deg);
  }
  40%,
  60% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(0deg);
  }
}

@keyframes moveBall {
  0% {
    transform: scale(1);
    opacity: 0.3;
  }

  100% {
    transform: scale(2);
    opacity: 0.1;
  }
}

@keyframes move {
  0% {
    transform: translateY(-1rem);
  }

  100% {
    transform: none;
  }
}

.user--article,
.get-started {
  padding: 0.75rem;
  border: 1px solid var(--bg-4);
  border-radius: 0.5rem;
  background-color: var(--bg-3);
  height: fit-content;
}

.user--article {
  animation: move 2s infinite alternate;
}

.support--second {
  position: sticky;
  top: 6rem;
  height: fit-content;
}

.rtl--support--content {
  max-width: 868px;
}
