.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
storybook-static/
packages/pillar-core/css
apps/docs/tsconfig.tsbuildinfo

public/sitemap.xml
public/feed.xml
.vercel

# Contentlayer
.contentlayer/
