@import '@pillar-ui/core/main.css';

:root {
  --button-corner: 100rem;
  // purple Light Color Section
  --Pl-1: hsl(280, 65%, 99.4%);
  --Pl-2: hsl(276, 100%, 99%);
  --Pl-3: hsl(276, 83.1%, 97%);
  --Pl-4: hsl(275, 76.4%, 94.7%);
  --Pl-5: hsl(275, 70.8%, 91.8%);
  --Pl-6: hsl(274, 65.4%, 87.8%);
  --Pl-7: hsl(273, 61%, 81.7%);
  --Pl-8: hsl(272, 60%, 73.5%);
  --Pl-9: hsl(272, 51%, 54%);
  --Pl-10: hsl(272, 46.8%, 50.3%);
  --Pl-11: hsl(272, 50%, 45.8%);
  --Pl-12: hsl(272, 66%, 16%);
  // purple Dark Color Section
  --Pd-1: hsl(284, 20%, 9.6%);
  --Pd-2: hsl(283, 30%, 11.8%);
  --Pd-3: hsl(281, 37.5%, 16.5%);
  --Pd-4: hsl(280, 41.2%, 20%);
  --Pd-5: hsl(279, 43.8%, 23.3%);
  --Pd-6: hsl(277, 46.4%, 27.5%);
  --Pd-7: hsl(275, 49.3%, 34.6%);
  --Pd-8: hsl(272, 52.1%, 45.9%);
  --Pd-9: hsl(272, 51%, 54%);
  --Pd-10: hsl(273, 57.3%, 59.1%);
  --Pd-11: hsl(275, 80%, 71%);
  --Pd-12: hsl(279, 75%, 95.7%);
}
