:root {
  --primary-light-1: hsl(255, 65%, 99.4%);
  --primary-light-2: hsl(252, 100%, 99%);
  --primary-light-3: hsl(252, 96.9%, 97.4%);
  --primary-light-4: hsl(252, 91.5%, 95.5%);
  --primary-light-5: hsl(252, 85.1%, 93%);
  --primary-light-6: hsl(252, 77.8%, 89.4%);
  --primary-light-7: hsl(252, 71%, 83.7%);
  --primary-light-8: hsl(252, 68.6%, 76.3%);
  --primary-light-9: hsl(252, 56%, 57.5%);
  --primary-light-10: hsl(251, 48.1%, 53.5%);
  --primary-light-11: hsl(250, 43%, 48%);
  --primary-light-12: hsl(250, 43%, 26%);

  --button-corner: 100rem;

  --primary-dark-1: hsl(284, 20%, 9.6%);
  --primary-dark-2: hsl(284, 31.1%, 12%);
  --primary-dark-3: hsl(282, 35.1%, 16.8%);
  --primary-dark-4: hsl(281, 36.9%, 20.1%);
  --primary-dark-5: hsl(280, 38.1%, 23%);
  --primary-dark-6: hsl(278, 39.5%, 27.3%);
  --primary-dark-7: hsl(276, 41.1%, 35.1%);
  --primary-dark-8: hsl(272, 42.7%, 50%);
  --primary-dark-9: hsl(272, 51%, 54%);
  --primary-dark-10: hsl(271, 57.8%, 61.2%);
  --primary-dark-11: hsl(270, 90%, 78%);
  --primary-dark-12: hsl(275, 75%, 91.5%);
}
