:root {
  --primary-light-1: hsl(359, 100%, 99.4%);
  --primary-light-2: hsl(359, 100%, 98.6%);
  --primary-light-3: hsl(360, 100%, 96.8%);
  --primary-light-4: hsl(360, 97.9%, 94.8%);
  --primary-light-5: hsl(360, 90.2%, 91.9%);
  --primary-light-6: hsl(360, 81.7%, 87.8%);
  --primary-light-7: hsl(359, 74.2%, 81.7%);
  --primary-light-8: hsl(359, 69.5%, 74.3%);
  --primary-light-9: hsl(358, 75%, 59%);
  --primary-light-10: hsl(358, 69.4%, 55.2%);
  --primary-light-11: hsl(358, 65%, 48.7%);
  --primary-light-12: hsl(354, 50%, 14.6%);

  --button-corner: 0;

  --primary-dark-1: green;
  --primary-dark-2: green;
  --primary-dark-3: green;
  --primary-dark-4: green;
  --primary-dark-5: green;
  --primary-dark-6: green;
  --primary-dark-7: green;
  --primary-dark-8: green;
  --primary-dark-9: green;
  --primary-dark-10: green;
  --primary-dark-11: green;
  --primary-dark-12: green;
}
