.s-k {
  background: var(--B7);
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    background: linear-gradient(to right, var(--O1), var(--O4), var(--O2));
    width: 40%;
    height: 100%;
    position: absolute;
    inset-inline-start: 0;
    top: 0;
    animation: skeleton-animation 1s infinite;
  }
}

.s-k_box {
  width: 100%;
  height: var(--height, 10rem);
}

.s-k_avt,
.s-k_btn {
  width: 2.5em;
  height: 2.5em;
}
.s-k_txt {
  --flow-gap: 0.5em;
  height: 1em;
  border-radius: 0.15em;
  width: var(--text-width);
}
.s-k_btn {
  padding: 0.25em 0.75em;
  min-width: 8em;
  border-radius: 0.15rem;
}

@keyframes skeleton-animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(240%);
  }
}
