.skeleton {
  background-color: var(--surface-7);
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    background-image: linear-gradient(to right, var(--opacity-1), var(--opacity-4), var(--opacity-2));
    width: 40%;
    height: 100%;
    position: absolute;
    inset-inline-start: 0;
    top: 0;
    animation: skeleton-animation 1s infinite;
  }
}

.skeleton--box {
  width: 100%;
  height: var(--height, 10rem);
}

.skeleton--avatar,
.skeleton--btn {
  width: 2.5em;
  height: 2.5em;
}
.skeleton--text {
  --flow-gap: 0.5em;
  height: 1em;
  border-radius: 0.15em;
  width: var(--text-width);
}
.skeleton--btn {
  padding: 0.25em 0.75em;
  min-width: 6rem;
  border-radius: 0.15rem;
}

@keyframes skeleton-animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(240%);
  }
}
