input,
button,
textarea,
select,
button {
  font: inherit;
  appearance: none;
  border: none;
  background: transparent;
  outline: none;
}

input[type='number'] {
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

button,
a {
  cursor: pointer;

  &:focus-visible {
    outline: 2px dashed var(--P9);
  }
}

a {
  color: var(--P11);
}

.shd,
code {
  --f: fit-content;
  user-select: none;
  width: var(--sh-s, var(--f));
  height: var(--sh-s, var(--f));
  border: 1px solid transparent;
  font-weight: 500;
  text-decoration: none;
  padding: 0.125em 0.25em;
  /* line-height: 1; */
  /* white-space: nowrap; */
}

code {
  background-color: var(--B6);
  border-radius: 0.25rem;
}
