*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
nav:is(ul, ol) {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  appearance: none;
  border: none;
}
input,
textarea,
select {
  font-family: var(--mono-font);
}

button {
  background-color: transparent;
  user-select: none;
}

button,
a {
  cursor: pointer;
}

body {
  color: var(--bg-12);

  /* // Please Make Sure If you want to update This Background color you need to update .storybook/preview.js */
  background-color: var(--bg-1);
  -webkit-font-smoothing: antialiased;
  font-family: var(--custom-body-font, var(--body-font));
  font-weight: 400;
  text-rendering: optimizespeed;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  margin: 0;
}

*[aria-busy='true'],
*[hidden] {
  display: none;
}
