*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
nav ul,
nav ol {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  appearance: none;
  border: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

body,
html {
  height: 100%;
}

body {
  color: var(--surface-12);

  /* // Please Make Sure If you want to update This Background color you need to update .storybook/preview.js */
  background-color: var(--surface-1);
  -webkit-font-smoothing: antialiased;
  font-family: var(--custom-body-font, var(--body-font));
  font-weight: 400;
  height: 100%;
  text-rendering: optimizespeed;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

body[lang='ar'] * {
  letter-spacing: 0;
}

.custom-scroll::-webkit-scrollbar {
  width: 0.675rem;
  border-radius: 3px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: var(--surface-8);
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: var(--primary-8);
  outline: 1px solid var(--surface-5);
  border-radius: 2px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: var(--primary-10);
}

*[aria-busy='true'],
*[hidden] {
  display: none;
}

code {
  background: var(--surface-5);
  color: var(--surface-12);
  padding: 0 0.375em;
  line-height: 1.5;
  width: fit-content;
  border-radius: 0.25em;
}
pre code {
  background: none;
}
