/*
//////////////////////////////////////////////////////////////////////////////////////////////////
  BreadCrumb Section
//////////////////////////////////////////////////////////////////////////////////////////////////
*/

.breadcrumb {
  & ol {
    margin: 0;
    padding: 0;
  }

  & svg {
    width: 1em;
  }
}

/*
//////////////////////////////////////////////////////////////////////////////////////////////////
  BreadCrumb Item Section
//////////////////////////////////////////////////////////////////////////////////////////////////
*/

.breadcrumb--item {
  font-size: var(--font-size, var(--breadcrumb--size, 1rem));
}

.breadcrumb--link {
  min-width: 1.5rem;
  font-size: 1em;
  color: var(--color-shared-11);
  padding: 0;
  &:hover {
    text-decoration: underline 2px;
    color: var(--color-shared-10);
  }
  &[aria-current='page'] {
    color: var(--surface-11);
    text-decoration: none;
  }
}
