/*
//////////////////////////////////////////////////////////////////////////////////////////////////
  BreadCrumb Section
//////////////////////////////////////////////////////////////////////////////////////////////////
*/

.b-r {
  & ol {
    margin: 0;
    padding: 0;
  }

  & svg {
    width: 1em;
  }
}

/*
//////////////////////////////////////////////////////////////////////////////////////////////////
  BreadCrumb Item Section
//////////////////////////////////////////////////////////////////////////////////////////////////
*/

/* .b-r_itm {
  font-size: var(--font-size, var(--breadcrumb--size, 1rem));
} */

.b-r_lnk {
  min-width: 1.5rem;
  font-size: 1em;
  color: var(--clr-11);
  padding: 0;
  &:hover {
    text-decoration: underline 2px;
    color: var(--clr-10);
  }
  &[aria-current='page'] {
    color: var(--bg-11);
    text-decoration: none;
  }
}
