.t_ab_lst {
  flex-shrink: 0;
  overflow: auto hidden;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  user-select: none;
  text-wrap: nowrap;

  @media (hover: none) {
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  &[aria-orientation='horizontal'] {
    border-inline-end: 1px solid var(--opa-6);

    & .t_ab {
      border-start-end-radius: 0;
      border-end-end-radius: 0;
      &[aria-selected='true'] {
        border-inline-end-color: var(--c-9);
      }
    }
  }
  &[aria-orientation='vertical'] {
    border-block-end: 1px solid var(--opa-6);
    & .t_ab {
      border-end-start-radius: 0;
      border-end-end-radius: 0;
      &[aria-selected='true'] {
        border-block-end-color: var(--c-9);
      }
    }
  }
}

.t_ab {
  padding: 0.5em 1em;
  border: 2px solid transparent;
  margin-bottom: -1px;
  font-size: 0.85em;
}

.t_ab-solid[aria-selected='true'] {
  background: var(--c-9);
  color: white;
}
.t_ab-soft[aria-selected='true'] {
  border: 1px solid var(--opa-6);
  border-bottom: 0;
  background: var(--c-4);
  color: var(--c-12);
}
.t_ab-outline[aria-selected='true'] {
  border: 1px solid var(--opa-6);
  border-bottom: 0;
  background: var(--bg-1);
}
