/*
//////////////////////////////////////////////////////////////////////////////////////////////////
  BreadCrumb Section
//////////////////////////////////////////////////////////////////////////////////////////////////
*/

.b-r {
  font-size: 0;
  & ol {
    margin: 0;
    padding: 0;
  }

  & svg {
    width: 1em;
  }
}

/*
//////////////////////////////////////////////////////////////////////////////////////////////////
  BreadCrumb Item Section
//////////////////////////////////////////////////////////////////////////////////////////////////
*/

/* .b-r_itm {
  font-size: var(--font-size, var(--breadcrumb--size, 1rem));
} */

.b-r_lnk {
  min-width: 1.5rem;
  font-size: 0.875em;
  color: var(--c-11);
  padding: 0;
  text-transform: capitalize;
  &:hover {
    text-decoration: underline 1.2px;
  }
  &[aria-current='page'] {
    color: var(--B10);
    text-decoration: none;
    cursor: not-allowed;
  }
}
