.switch {
  position: relative;
  background-color: var(--surface-7);
  border: 2px solid var(--surface-8);
  width: 2.5em;
  max-width: 2.5em;
  flex: none;
  height: 1.25em;

  /*
    These properties serve as fallbacks. If the corresponding utility functions are
    unavailable, these properties take priority. However, if specific props related to
    avatars are provided, they will override these properties.
  */
  border-radius: var(--switch-corner, 2em);
  font-size: var(--switch-size, 1rem);
  text-transform: var(--switch-transform);

  &:focus-visible {
    outline: 2px dashed var(--color-shared-9);
    outline-offset: 2px;
  }
  &:hover::before {
    box-shadow: inset 0 0 0 0.125em var(--opacity-8);
  }
  &::before {
    content: '';
    width: calc(1.25em - 2px);
    height: calc(1.25em - 4px);
    border-radius: inherit;
    background-color: var(--surface-2);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    transition: transform 0.3s, width 0.3s;
    outline: 2px solid transparent;
    outline-offset: -2px;
  }
  &:active::before {
    transform: translate(0, -50%);
    width: 1.675em;
  }
  &[aria-pressed='true'] {
    background: var(--color-shared-9);
    border-color: var(--color-shared-9);
    &:active::before {
      transform: translate(40%, -50%);
    }
    &::before {
      transform: translate(100%, -50%);
    }
  }
  &:disabled {
    background-color: var(--surface-8);
    border-color: var(--surface-8);
    pointer-events: none;
    cursor: not-allowed;
    &:before {
      background-color: var(--surface-7);
    }
  }
}
