.prose {
  --sha-rad: 0.5rem;

  --sh-class: var(--P11);
  --sh-identifier: var(--S11);
  --sh-sign: var(--B11);
  --sh-property: var(--Se11);
  --sh-entity: var(--W11);
  --sh-jsxliterals: var(--B12);
  --sh-string: var(--S10);
  --sh-keyword: var(--D11);
  --sh-comment: var(--B9);

  & li::marker {
    color: var(--B11);
    font-size: 0.85rem;
  }

  & > h1,
  & > h2,
  & > h3,
  & > h4 {
    font-weight: 500;
  }

  & > :is(ul, ol) > * + * {
    margin-top: var(--S2);
  }

  ul,
  ol {
    margin-left: 0.5rem;
  }
}

.code--section {
  background-color: var(--B3);
  border-radius: var(--sha-rad);
  border: 1px solid var(--B6);

  & > * {
    padding: 0.375rem 1rem;
  }
}

.doc-pre {
  scrollbar-color: var(--O8) transparent;
  scrollbar-width: thin;
  overflow: auto;
  height: 100%;
  max-height: 80vh;
  max-width: 100%;
  margin: 0;
  padding: 1rem 0;
}

.doc-code {
  counter-reset: sh-line-number;
  font-size: 0;
  background: none;
  user-select: initial;
  height: 100%;
}

.sh__line::before {
  counter-increment: sh-line-number 1;
  content: counter(sh-line-number);
  margin-inline-end: 1.25rem;
  color: hsl(0deg 0% 64%);
  font-size: 0.85rem;
  vertical-align: middle;
  min-width: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.sh__line {
  border-inline-start: 4px solid transparent;
  font-size: 0.875rem;
  line-height: 1.75;

  & > * {
    display: inline-block;
  }
}

.playground {
  border: 1px solid var(--B6);
  padding: 1.5rem;
  gap: 1rem;
  display: flex;
  max-height: 500px;
  border-radius: var(--sha-rad);
  overflow: auto;
  scrollbar-width: thin;
}
.playground-row {
  align-items: center;
  flex-wrap: wrap;
}
.playground-column {
  flex-direction: column;
}

.code--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--O4);
}

.dot {
  width: 0.5rem;
  height: 0.5rem;
  background: var(--D9);
  border-radius: 50%;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--W9);
    top: 0;
    left: 0.75rem;
    border-radius: inherit;
  }

  &:after {
    background-color: var(--Su9);
    left: 1.5rem;
  }
}

.doc-table {
  overflow-x: auto;
  min-width: 100%;

  table {
    width: 100%;
    max-width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
  }

  th {
    background-color: var(--B6);
    border-bottom-width: 1px;
    border-color: var(--B6);
    border-top-width: 1px;
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    font-size: 0.85rem;

    &:first-child {
      border-top-left-radius: 1rem;
    }
    &:last-child {
      border-top-right-radius: 1rem;
    }
  }

  td,
  th {
    border: var(--B5) 1px solid;
    background: var(--B1);
    text-align: start;
    font-size: 0.85em;
    padding: 0.5em;
  }

  tr {
    border-block-end: var(--c5) 1px solid;
    background: var(--c1);
    width: 100%;
  }

  th {
    font-weight: 500;
    background: var(--c4);
  }
}

.ex-striped {
  background-image: linear-gradient(
    135deg,
    var(--W6) 10%,
    var(--B1) 0,
    var(--B1) 50%,
    var(--W6) 0,
    var(--W6) 60%,
    var(--B1) 0,
    var(--B1)
  );
  background-size: 6px 6px;
}
