.hero {
  min-height: calc(100vh - 5rem);
  max-width: 1300px;
  padding: 2vw;
  margin: auto;
}

.hero--heading {
  font-size: max(5vw, 2.5rem);
  line-height: 1.15;
}

.hero--text {
  font-size: max(2.5vw, 1.75rem);
  line-height: 1.25;
  color: var(--surface-11);
}

// .switch--home-mode--container {
//   position: relative;
//   height: 360px;
//   width: 100%;
//   background-color: transparent;
// }

// .switch--home-mode--image {
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   display: inline-block;
// }

// .switch--home-mode--image__dark {
//   transition: clip-path 0.5s;
//   &[data-mode='default'] {
//     clip-path: polygon(100% 0, 0 100%, 100% 100%, 100% 100%);
//   }
//   &[data-mode='light'] {
//     clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
//   }
//   &[data-mode='dark'] {
//     clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
//   }
// }

// .switch--home-mode--image__ltr {
//   transition: clip-path 0.5s;

//   &[data-mode='ltr'] {
//     clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
//   }
//   &[data-mode='rtl'] {
//     clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
//   }
// }
.switch--home-mode--button {
  position: absolute;
  right: 0.5rem;
  top: 50%;
}

.pillar--title {
  position: relative;
  margin-inline-end: 0.75rem;
  // color: var(--primary-9);
}

.pillar--title-container {
  stroke: var(--primary-9);
  position: absolute;
  // transform: translateX(-7.5%);
  left: -10%;
  width: 115%;
  animation: shaking 1.25s ease-in-out infinite;
  // transform-origin: bottom center;
}
.supported-item {
  overflow: hidden;
}

.h_image-container {
  max-height: 480px;
  overflow: hidden;
  border-radius: 1rem;
}

.h_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dark--section {
  display: flex;
  justify-content: space-between;
  gap: var(--space-sm);

  & > * {
    background-color: red;
    flex: 1;
  }
}

// Here we go

.section {
  height: 100vh;
  position: relative;
}
.rtl--support {
  background-color: var(--surface-2);
  position: relative;
  z-index: -20;
}

.under {
  position: absolute;
  z-index: -1;
  width: 200px;
}
.under--end {
  inset-inline-end: 0;
  bottom: 0;
}

.top--start {
  top: 0;
  inset-inline-start: 0;
  width: 120px;
}

.feature-list {
  list-style-type: none;
  padding: 0;
}

.feature--item {
  border: 1px solid var(--surface-5);
  padding: 0.75rem;
  border-radius: 0.75rem;
}

.feature-icon {
  font-size: 2rem;
}

.dark--description {
  width: 70ch;
}
.accessibility--item {
  padding: 1rem;
  border: 1px solid var(--surface-5);
  position: relative;
  z-index: 1;
  border-radius: 0.5rem;
  background-color: var(--surface-1);
}
@media screen and (max-width: 868px) {
  .dark--section {
    flex-direction: column;
    gap: 0;
    align-items: stretch;
  }
}

// @keyframes shaking {
//   0%,
//   100% {
//     transform: rotate(0);
//   }

//   20%,
//   60% {
//     transform: rotate(-2deg);
//   }
//   40%,
//   80% {
//     transform: rotate(2deg);
//   }
// }

// @keyframes shaking {
//   0%,
//   100% {
//     transform: rotate(0deg);
//   }
//   10%,
//   90% {
//     transform: rotate(-2deg);
//   }
//   20%,
//   80% {
//     transform: rotate(3deg);
//   }
//   30%,
//   70% {
//     transform: rotate(-4deg);
//   }
//   40%,
//   60% {
//     transform: rotate(2deg);
//   }
//   50% {
//     transform: rotate(0deg);
//   }
// }

@keyframes shaking {
  0%,
  100% {
    transform: rotate(0deg);
  }
  10%,
  90% {
    transform: rotate(-2deg);
  }
  20%,
  80% {
    transform: rotate(3deg);
  }
  30%,
  70% {
    transform: rotate(-4deg);
  }
  40%,
  60% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(0deg);
  }
}
