.hero {
  min-height: calc(100vh - 5rem);
  max-width: 1300px;
  padding: 2vw;
  margin: auto;
}

.hero--heading {
  font-size: max(5vw, 2.5rem);
  line-height: 1.15;
}

.hero--text {
  font-size: max(2.5vw, 1.75rem);
  line-height: 1.25;
  color: var(--surface-11);
}

.switch--home-mode--container {
  position: relative;
  height: 360px;
  width: 100%;
  background-color: transparent;
}

.switch--home-mode--image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.switch--home-mode--image__dark {
  transition: clip-path 0.5s;
  &[data-mode='default'] {
    clip-path: polygon(100% 0, 0 100%, 100% 100%, 100% 100%);
  }
  &[data-mode='light'] {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
  &[data-mode='dark'] {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

.switch--home-mode--image__ltr {
  transition: clip-path 0.5s;

  &[data-mode='ltr'] {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
  &[data-mode='rtl'] {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
.switch--home-mode--button {
  position: absolute;
  right: 0.5rem;
  top: 50%;
}

.supported-item {
  overflow: hidden;
}

.h_image-container {
  max-height: 480px;
  overflow: hidden;
  border-radius: 1rem;
}

.h_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.section * {
  flex: 1;
  min-width: 0;
}

@media screen and (max-width: 868px) {
  .section {
    flex-direction: column;
    gap: 0;
    align-items: stretch;
  }
}
