.ti- {
  position: relative;
  font-size: var(--timeline-size, 1rem);
}

.ti-L {
  border-inline-start: var(--c9) 0.15em var(--ti-v);
  width: 0.15em;
}

.ti-I {
  position: relative;
}

.ti-B {
  width: 1em;
  height: 1em;
  background: var(--B1);
  border: var(--c9) 0.15em solid;
  transform: translateX(-50%) translateX(-0.08em);
  overflow: hidden;
  border-radius: var(--border-radius, 0);
  margin-top: 0.375rem;
}

/* 
====================================================================================================
Variant Section Style Start
====================================================================================================
*/

.ti-I-solid {
  --ti-v: solid;
}
.ti-I-dotted {
  --ti-v: dotted;
}
.ti-I-dashed {
  --ti-v: dashed;
}
