.stepper--wrapper {
  position: relative;
  z-index: 1;
}

.step {
  position: relative;
  flex: 1;

  &:last-child {
    flex: none;
  }
  &[data-state='current'] .step--button {
    border-color: var(--color-shared-8);
    background-color: var(--color-shared-6);
    color: var(--color-shared-12);
  }

  &[data-state='complete'] .step--button {
    background-color: var(--color-shared-8);
    border-color: var(--color-shared-8);
    color: white;
  }

  &[data-state='complete']::before {
    background-color: var(--color-shared-9);
  }

  &::before {
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 1000px;
    position: absolute;
    inset-inline-start: 0;
    top: 50%;
    background-color: var(--surface-4);
    z-index: -1;
  }
}

.step--content {
  padding: 0.5rem 1.5rem;
  background-color: var(--surface-1);
}

.step--button {
  width: 2.75rem;
  height: 2.75rem;
  background-color: var(--surface-4);
  border: 2px solid var(--surface-6);
  flex: none;
  border-radius: var(--border-radius);
  & svg {
    width: 20px;
    stroke-width: 2px;
  }
}
.step--complete-icon {
  transform: translateY(-200%);
  transition: transform 0.3s;
}
.step[data-state='complete'] .step--complete-icon {
  transform: none;
  transition: transform 0.3s;
}
