.l_corner-sharp {
  border-radius: 0;
}

.l_corner-xs {
  border-radius: 0.25rem;
}

.l_corner-sm {
  border-radius: 0.375rem;
}

.l_corner-md {
  border-radius: 0.5rem;
}

.l_corner-lg {
  border-radius: 1rem;
}

.l_corner-xl {
  border-radius: 1.5rem;
}

.l_corner-circle {
  border-radius: 50%;
}

.l_corner-full {
  border-radius: 1000px;
}
