.l_fl-column {
  flex-direction: column;
}

.l_fl-wrap {
  flex-wrap: wrap;
}

.l_fl-none {
  flex: none;
}

.l_fl-1 {
  flex: 1;
}

.l_fl-2 {
  flex: 2;
}

.l_fl-auto {
  flex: auto;
}

.l_fl {
  display: flex;
}

.l_fl-inline {
  display: inline-flex;
}

.l_grid {
  display: grid;
}

.l_grid-inline {
  display: inline-grid;
}
