.as {
  min-width: 200px;
  max-width: 220px;
  position: sticky;
  top: 4rem;
  overflow-y: auto;
  max-height: calc(100vh - 4rem);
  background: var(--B2);
  z-index: 50;
}

.toc-wrapper {
  border-inline-start: 1px solid var(--B4);
}

.as-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.menu-bar {
  scrollbar-color: var(--O8) transparent;
  scrollbar-width: thin;
  transition: transform 0.2s;
  border-inline-end: 1px solid var(--B4);

  &[data-mobile-open='true'] {
    transform: none;
  }
  &:focus-within {
    transform: none;
  }
}

@media (max-width: 768px) {
  .menu-bar {
    position: fixed;
    height: calc(100% - 4rem);
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 1068px) {
  .toc-wrapper {
    display: none;
  }
}

.as-item {
  position: relative;
  width: 100%;
  padding: 0.675rem;
  padding-inline-start: calc(var(--lvl, 1) * 0.875rem);
  border-inline-start: 3px solid transparent;

  &[data-active='true'] {
    background: var(--P3);
    border-color: var(--P9);
  }
}

.as-link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: var(--f-3);
  color: var(--B11);
  outline: none;
}

.menu-nest {
  height: 0;
  overflow: hidden;
  margin: 0;
}

.menu-nest:is([data-active='true'], :focus-within) {
  height: auto;
}

.toc-footer {
  border-top: 1px solid var(--B4);
}

.toc-f-item {
  text-decoration: none;
  gap: var(--S2);
}
