.bl- {
  border-inline-start: 4px solid var(--c9);
  /* background-clip: ;
  background-color: ; */
  background: padding-box var(--B3);
  position: relative;

  /*
    These properties serve as fallbacks. If the corresponding utility functions are
    unavailable, these properties take priority. However, if specific props related to
    avatars are provided, they will override these properties.
  */
  padding: var(--blockquote-pad, 1.5em);
  border-radius: var(--blockquote-rad, 0.25em);
  font-size: var(--blockquote-size, var(--F5));

  & cite {
    display: block;
  }
}

.bl-Q {
  position: absolute;
  inset-inline-start: 0.25em;
  top: 0.25em;
  & svg {
    width: 1.25em;
    color: var(--O9);
  }
}
