.blockquote {
  border-inline-start: 4px solid var(--color-shared-9);
  background-clip: padding-box;
  padding: 1.5em;
  background-color: var(--surface-3);
  position: relative;
  box-shadow: 1px 2px 4px -2px var(--opacity-2);

  /*
    These properties serve as fallbacks. If the corresponding utility functions are
    unavailable, these properties take priority. However, if specific props related to
    avatars are provided, they will override these properties.
  */
  border-radius: var(--blockquote-corner, 0.25em);
  font-size: var(--blockquote-size, 1rem);
}

/* .quote-outside {
  position: absolute;
  inset-inline-start: -50%;
  top: -50%;
  background: red;
} */

.quote {
  position: absolute;
  inset-inline-start: 0.25em;
  top: 0.25em;
  & svg {
    width: 1.25em;
    color: var(--opacity-9);
  }
}

.cite {
  font-weight: 500;
  font-size: 0.75em;
  color: var(--surface-11);
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
}
