/* Color Section */

:root {
  --primary-1: var(--indigo-1);
  --primary-2: var(--indigo-2);
  --primary-3: var(--indigo-3);
  --primary-4: var(--indigo-4);
  --primary-5: var(--indigo-5);
  --primary-6: var(--indigo-6);
  --primary-7: var(--indigo-7);
  --primary-8: var(--indigo-8);
  --primary-9: var(--indigo-9);
  --primary-10: var(--indigo-10);
  --primary-11: var(--indigo-11);
  --primary-12: var(--indigo-12);

  --opacity-1: hsl(0deg 0% 0% / 1.2%);
  --opacity-2: hsl(0deg 0% 0% / 2.7%);
  --opacity-3: hsl(0deg 0% 0% / 4.7%);
  --opacity-4: hsl(0deg 0% 0% / 7.1%);
  --opacity-5: hsl(0deg 0% 0% / 9%);
  --opacity-6: hsl(0deg 0% 0% / 11.4%);
  --opacity-7: hsl(0deg 0% 0% / 14.1%);
  --opacity-8: hsl(0deg 0% 0% / 22%);
  --opacity-9: hsl(0deg 0% 0% / 43.9%);
  --opacity-10: hsl(0deg 0% 0% / 47.8%);
  --opacity-11: hsl(0deg 0% 0% / 56.5%);
  --opacity-12: hsl(0deg 0% 0% / 91%);

  --slate-1: hsl(206deg 30% 98.8%);
  --slate-2: hsl(210deg 16.7% 97.6%);
  --slate-3: hsl(209deg 13.3% 95.3%);
  --slate-4: hsl(209deg 12.2% 93.2%);
  --slate-5: hsl(208deg 11.7% 91.1%);
  --slate-6: hsl(208deg 11.3% 88.9%);
  --slate-7: hsl(207deg 11.1% 85.9%);
  --slate-8: hsl(205deg 10.7% 78%);
  --slate-9: hsl(206deg 6% 56.1%);
  --slate-10: hsl(206deg 5.8% 52.3%);
  --slate-11: hsl(206deg 6% 43.5%);
  --slate-12: hsl(206deg 24% 9%);

  --text-1: hsl(200deg 7% 8.8%);
  --text-2: hsl(195deg 7.1% 11%);
  --text-3: hsl(197deg 6.8% 13.6%);
  --text-4: hsl(198deg 6.6% 15.8%);
  --text-5: hsl(199deg 6.4% 17.9%);
  --text-6: hsl(201deg 6.2% 20.5%);
  --text-7: hsl(203deg 6% 24.3%);
  --text-8: hsl(207deg 5.6% 31.6%);
  --text-9: hsl(206deg 6% 43.9%);
  --text-10: hsl(206deg 5.2% 49.5%);
  --text-11: hsl(206deg 6% 63%);
  --text-12: hsl(210deg 6% 93%);

  --mint-1: hsl(165deg 80% 98.8%);
  --mint-2: hsl(164deg 88.2% 96.7%);
  --mint-3: hsl(164deg 76.6% 93.3%);
  --mint-4: hsl(165deg 68.8% 89.5%);
  --mint-5: hsl(165deg 60.6% 84.5%);
  --mint-6: hsl(165deg 53.5% 76.9%);
  --mint-7: hsl(166deg 50.7% 66.1%);
  --mint-8: hsl(168deg 52.8% 51%);
  --mint-9: hsl(167deg 65% 66%);
  --mint-10: hsl(167deg 59.3% 63.1%);
  --mint-11: hsl(172deg 72% 28.5%);
  --mint-12: hsl(172deg 70% 12%);

  --indigo-1: hsl(225deg 60% 99.4%);
  --indigo-2: hsl(223deg 100% 98.6%);
  --indigo-3: hsl(223deg 98.4% 97.1%);
  --indigo-4: hsl(223deg 92.9% 95%);
  --indigo-5: hsl(224deg 87.1% 92%);
  --indigo-6: hsl(224deg 81.9% 87.8%);
  --indigo-7: hsl(225deg 77.4% 82.1%);
  --indigo-8: hsl(226deg 75.4% 74.5%);
  --indigo-9: hsl(226deg 70% 55.5%);
  --indigo-10: hsl(226deg 58.6% 51.3%);
  --indigo-11: hsl(226deg 55% 45%);
  --indigo-12: hsl(226deg 62% 17%);

  --red-1: hsl(359deg 100% 99.4%);
  --red-2: hsl(359deg 100% 98.6%);
  --red-3: hsl(360deg 100% 96.8%);
  --red-4: hsl(360deg 97.9% 94.8%);
  --red-5: hsl(360deg 90.2% 91.9%);
  --red-6: hsl(360deg 81.7% 87.8%);
  --red-7: hsl(359deg 74.2% 81.7%);
  --red-8: hsl(359deg 69.5% 74.3%);
  --red-9: hsl(358deg 75% 59%);
  --red-10: hsl(358deg 69.4% 55.2%);
  --red-11: hsl(358deg 65% 48.7%);
  --red-12: hsl(354deg 50% 14.6%);

  --purple-1: hsl(280deg 65% 99.4%);
  --purple-2: hsl(276deg 100% 99%);
  --purple-3: hsl(276deg 83.1% 97%);
  --purple-4: hsl(275deg 76.4% 94.7%);
  --purple-5: hsl(275deg 70.8% 91.8%);
  --purple-6: hsl(274deg 65.4% 87.8%);
  --purple-7: hsl(273deg 61% 81.7%);
  --purple-8: hsl(272deg 60% 73.5%);
  --purple-9: hsl(272deg 51% 54%);
  --purple-10: hsl(272deg 46.8% 50.3%);
  --purple-11: hsl(272deg 50% 45.8%);
  --purple-12: hsl(272deg 66% 16%);

  --violet-1: hsl(255deg 65% 99.4%);
  --violet-2: hsl(252deg 100% 99%);
  --violet-3: hsl(252deg 96.9% 97.4%);
  --violet-4: hsl(252deg 91.5% 95.5%);
  --violet-5: hsl(252deg 85.1% 93%);
  --violet-6: hsl(252deg 77.8% 89.4%);
  --violet-7: hsl(252deg 71% 83.7%);
  --violet-8: hsl(252deg 68.6% 76.3%);
  --violet-9: hsl(252deg 56% 57.5%);
  --violet-10: hsl(251deg 48.1% 53.5%);
  --violet-11: hsl(250deg 43% 48%);
  --violet-12: hsl(254deg 60% 18.5%);

  --brown-1: hsl(30deg 40% 99.1%);
  --brown-2: hsl(30deg 50% 97.6%);
  --brown-3: hsl(30deg 52.5% 94.6%);
  --brown-4: hsl(30deg 53% 91.2%);
  --brown-5: hsl(29deg 52.9% 86.8%);
  --brown-6: hsl(29deg 52.5% 80.9%);
  --brown-7: hsl(29deg 51.5% 72.8%);
  --brown-8: hsl(28deg 50% 63.1%);
  --brown-9: hsl(28deg 34% 51%);
  --brown-10: hsl(27deg 31.8% 47.6%);
  --brown-11: hsl(25deg 30% 41%);
  --brown-12: hsl(20deg 30% 19%);

  --yellow-1: hsl(60deg 54% 98.5%);
  --yellow-2: hsl(52deg 100% 95.5%);
  --yellow-3: hsl(55deg 100% 90.9%);
  --yellow-4: hsl(54deg 100% 86.6%);
  --yellow-5: hsl(52deg 97.9% 82%);
  --yellow-6: hsl(50deg 89.4% 76.1%);
  --yellow-7: hsl(47deg 80.4% 68%);
  --yellow-8: hsl(48deg 100% 46.1%);
  --yellow-9: hsl(53deg 92% 50%);
  --yellow-10: hsl(50deg 100% 48.5%);
  --yellow-11: hsl(42deg 100% 29%);
  --yellow-12: hsl(40deg 55% 13.5%);

  --orange-1: hsl(24deg 70% 99%);
  --orange-2: hsl(24deg 83.3% 97.6%);
  --orange-3: hsl(24deg 100% 95.3%);
  --orange-4: hsl(25deg 100% 92.2%);
  --orange-5: hsl(25deg 100% 88.2%);
  --orange-6: hsl(25deg 100% 82.8%);
  --orange-7: hsl(24deg 100% 75.3%);
  --orange-8: hsl(24deg 94.5% 64.3%);
  --orange-9: hsl(24deg 94% 50%);
  --orange-10: hsl(24deg 100% 46.5%);
  --orange-11: hsl(24deg 100% 37%);
  --orange-12: hsl(15deg 60% 17%);

  --green-1: hsl(136deg 50% 98.9%);
  --green-2: hsl(138deg 62.5% 96.9%);
  --green-3: hsl(139deg 55.2% 94.5%);
  --green-4: hsl(140deg 48.7% 91%);
  --green-5: hsl(141deg 43.7% 86%);
  --green-6: hsl(143deg 40.3% 79%);
  --green-7: hsl(146deg 38.5% 69%);
  --green-8: hsl(151deg 40.2% 54.1%);
  --green-9: hsl(151deg 55% 41.5%);
  --green-10: hsl(152deg 57.5% 37.6%);
  --green-11: hsl(153deg 67% 28.5%);
  --green-12: hsl(155deg 40% 14%);
}

.dark {
  color-scheme: dark;

  --slate-1: hsl(200deg 7% 8.8%);
  --slate-2: hsl(195deg 7.1% 11%);
  --slate-3: hsl(197deg 6.8% 13.6%);
  --slate-4: hsl(198deg 6.6% 15.8%);
  --slate-5: hsl(199deg 6.4% 17.9%);
  --slate-6: hsl(201deg 6.2% 20.5%);
  --slate-7: hsl(203deg 6% 24.3%);
  --slate-8: hsl(207deg 5.6% 31.6%);
  --slate-9: hsl(206deg 6% 43.9%);
  --slate-10: hsl(206deg 5.2% 49.5%);
  --slate-11: hsl(206deg 6% 63%);
  --slate-12: hsl(210deg 6% 93%);

  --opacity-1: hsl(0deg 0% 100% / 0%);
  --opacity-2: hsl(0deg 0% 100% / 1.3%);
  --opacity-3: hsl(0deg 0% 100% / 3.4%);
  --opacity-4: hsl(0deg 0% 100% / 5.6%);
  --opacity-5: hsl(0deg 0% 100% / 8.6%);
  --opacity-6: hsl(0deg 0% 100% / 12.4%);
  --opacity-7: hsl(0deg 0% 100% / 17.6%);
  --opacity-8: hsl(0deg 0% 100% / 24.9%);
  --opacity-9: hsl(0deg 0% 100% / 38.6%);
  --opacity-10: hsl(0deg 0% 100% / 44.6%);
  --opacity-11: hsl(0deg 0% 100% / 59.2%);
  --opacity-12: hsl(0deg 0% 100% / 92.3%);

  --text-1: hsl(206deg 30% 98.8%);
  --text-2: hsl(210deg 16.7% 97.6%);
  --text-3: hsl(209deg 13.3% 95.3%);
  --text-4: hsl(209deg 12.2% 93.2%);
  --text-5: hsl(208deg 11.7% 91.1%);
  --text-6: hsl(208deg 11.3% 88.9%);
  --text-7: hsl(207deg 11.1% 85.9%);
  --text-8: hsl(205deg 10.7% 78%);
  --text-9: hsl(206deg 6% 56.1%);
  --text-10: hsl(206deg 5.8% 52.3%);
  --text-11: hsl(206deg 6% 43.5%);
  --text-12: hsl(206deg 24% 9%);

  --red-1: hsl(353deg 23% 9.8%);
  --red-2: hsl(357deg 34.4% 12%);
  --red-3: hsl(356deg 43.4% 16.4%);
  --red-4: hsl(356deg 47.6% 19.2%);
  --red-5: hsl(356deg 51.1% 21.9%);
  --red-6: hsl(356deg 55.2% 25.9%);
  --red-7: hsl(357deg 60.2% 31.8%);
  --red-8: hsl(358deg 65% 40.4%);
  --red-9: hsl(358deg 75% 59%);
  --red-10: hsl(358deg 85.3% 64%);
  --red-11: hsl(358deg 100% 69.5%);
  --red-12: hsl(351deg 89% 96%);

  --indigo-1: hsl(229deg 24% 10%);
  --indigo-2: hsl(230deg 36.4% 12.9%);
  --indigo-3: hsl(228deg 43.3% 17.5%);
  --indigo-4: hsl(227deg 47.2% 21%);
  --indigo-5: hsl(227deg 50% 24.1%);
  --indigo-6: hsl(226deg 52.9% 28.2%);
  --indigo-7: hsl(226deg 56% 34.5%);
  --indigo-8: hsl(226deg 58.2% 44.1%);
  --indigo-9: hsl(226deg 70% 55.5%);
  --indigo-10: hsl(227deg 75.2% 61.6%);
  --indigo-11: hsl(228deg 100% 75.9%);
  --indigo-12: hsl(226deg 83% 96.3%);

  --purple-1: hsl(284deg 20% 9.6%);
  --purple-2: hsl(283deg 30% 11.8%);
  --purple-3: hsl(281deg 37.5% 16.5%);
  --purple-4: hsl(280deg 41.2% 20%);
  --purple-5: hsl(279deg 43.8% 23.3%);
  --purple-6: hsl(277deg 46.4% 27.5%);
  --purple-7: hsl(275deg 49.3% 34.6%);
  --purple-8: hsl(272deg 52.1% 45.9%);
  --purple-9: hsl(272deg 51% 54%);
  --purple-10: hsl(273deg 57.3% 59.1%);
  --purple-11: hsl(275deg 80% 71%);
  --purple-12: hsl(279deg 75% 95.7%);

  --violet-1: hsl(250deg 20% 10.2%);
  --violet-2: hsl(255deg 30.3% 12.9%);
  --violet-3: hsl(253deg 37% 18.4%);
  --violet-4: hsl(252deg 40.1% 22.5%);
  --violet-5: hsl(252deg 42.2% 26.2%);
  --violet-6: hsl(251deg 44.3% 31.1%);
  --violet-7: hsl(250deg 46.8% 38.9%);
  --violet-8: hsl(250deg 51.8% 51.2%);
  --violet-9: hsl(252deg 56% 57.5%);
  --violet-10: hsl(251deg 63.2% 63.2%);
  --violet-11: hsl(250deg 95% 76.8%);
  --violet-12: hsl(252deg 87% 96.4%);

  --brown-1: hsl(22deg 15% 8.7%);
  --brown-2: hsl(20deg 28.3% 10.4%);
  --brown-3: hsl(20deg 28% 14%);
  --brown-4: hsl(21deg 28.4% 16.5%);
  --brown-5: hsl(22deg 28.7% 18.9%);
  --brown-6: hsl(23deg 29% 22.3%);
  --brown-7: hsl(25deg 29.5% 27.8%);
  --brown-8: hsl(27deg 30.1% 35.9%);
  --brown-9: hsl(28deg 34% 51%);
  --brown-10: hsl(28deg 41.4% 55.8%);
  --brown-11: hsl(28deg 60% 64.5%);
  --brown-12: hsl(30deg 67% 94%);

  --green-1: hsl(146deg 30% 7.4%);
  --green-2: hsl(155deg 44.2% 8.4%);
  --green-3: hsl(155deg 46.7% 10.9%);
  --green-4: hsl(154deg 48.4% 12.9%);
  --green-5: hsl(154deg 49.7% 14.9%);
  --green-6: hsl(154deg 50.9% 17.6%);
  --green-7: hsl(153deg 51.8% 21.8%);
  --green-8: hsl(151deg 51.7% 28.4%);
  --green-9: hsl(151deg 55% 41.5%);
  --green-10: hsl(151deg 49.3% 46.5%);
  --green-11: hsl(151deg 50% 53.2%);
  --green-12: hsl(137deg 72% 94%);

  --yellow-1: hsl(45deg 100% 5.5%);
  --yellow-2: hsl(46deg 100% 6.7%);
  --yellow-3: hsl(45deg 100% 8.7%);
  --yellow-4: hsl(45deg 100% 10.4%);
  --yellow-5: hsl(47deg 100% 12.1%);
  --yellow-6: hsl(49deg 100% 14.3%);
  --yellow-7: hsl(49deg 90.3% 18.4%);
  --yellow-8: hsl(50deg 100% 22%);
  --yellow-9: hsl(53deg 92% 50%);
  --yellow-10: hsl(54deg 100% 68%);
  --yellow-11: hsl(48deg 100% 47%);
  --yellow-12: hsl(53deg 100% 91%);

  --mint-1: hsl(173deg 50% 6.6%);
  --mint-2: hsl(176deg 73% 7.3%);
  --mint-3: hsl(175deg 79.3% 8.9%);
  --mint-4: hsl(174deg 84.8% 10.3%);
  --mint-5: hsl(174deg 90.2% 11.9%);
  --mint-6: hsl(173deg 96% 13.8%);
  --mint-7: hsl(172deg 100% 16.8%);
  --mint-8: hsl(170deg 100% 21.4%);
  --mint-9: hsl(167deg 65% 66%);
  --mint-10: hsl(163deg 80% 77%);
  --mint-11: hsl(167deg 70% 48%);
  --mint-12: hsl(165deg 80% 94.8%);

  --orange-1: hsl(30deg 70% 7.2%);
  --orange-2: hsl(28deg 100% 8.4%);
  --orange-3: hsl(26deg 91.1% 11.6%);
  --orange-4: hsl(25deg 88.3% 14.1%);
  --orange-5: hsl(24deg 87.6% 16.6%);
  --orange-6: hsl(24deg 88.6% 19.8%);
  --orange-7: hsl(24deg 92.4% 24%);
  --orange-8: hsl(25deg 100% 29%);
  --orange-9: hsl(24deg 94% 50%);
  --orange-10: hsl(24deg 100% 58.5%);
  --orange-11: hsl(24deg 100% 62.2%);
  --orange-12: hsl(24deg 97% 93.2%);
}

.primary {
  --primary-1: var(--indigo-1);
  --primary-2: var(--indigo-2);
  --primary-3: var(--indigo-3);
  --primary-4: var(--indigo-4);
  --primary-5: var(--indigo-5);
  --primary-6: var(--indigo-6);
  --primary-7: var(--indigo-7);
  --primary-8: var(--indigo-8);
  --primary-9: var(--indigo-9);
  --primary-10: var(--indigo-10);
  --primary-11: var(--indigo-11);
  --primary-12: var(--indigo-12);
}

.green {
  --primary-1: var(--green-1);
  --primary-2: var(--green-2);
  --primary-3: var(--green-3);
  --primary-4: var(--green-4);
  --primary-5: var(--green-5);
  --primary-6: var(--green-6);
  --primary-7: var(--green-7);
  --primary-8: var(--green-8);
  --primary-9: var(--green-9);
  --primary-10: var(--green-10);
  --primary-11: var(--green-11);
  --primary-12: var(--green-12);
}

.purple {
  --primary-1: var(--purple-1);
  --primary-2: var(--purple-2);
  --primary-3: var(--purple-3);
  --primary-4: var(--purple-4);
  --primary-5: var(--purple-5);
  --primary-6: var(--purple-6);
  --primary-7: var(--purple-7);
  --primary-8: var(--purple-8);
  --primary-9: var(--purple-9);
  --primary-10: var(--purple-10);
  --primary-11: var(--purple-11);
  --primary-12: var(--purple-12);
}

.indigo {
  --primary-1: var(--indigo-1);
  --primary-2: var(--indigo-2);
  --primary-3: var(--indigo-3);
  --primary-4: var(--indigo-4);
  --primary-5: var(--indigo-5);
  --primary-6: var(--indigo-6);
  --primary-7: var(--indigo-7);
  --primary-8: var(--indigo-8);
  --primary-9: var(--indigo-9);
  --primary-10: var(--indigo-10);
  --primary-11: var(--indigo-11);
  --primary-12: var(--indigo-12);
}

.orange {
  --primary-1: var(--orange-1);
  --primary-2: var(--orange-2);
  --primary-3: var(--orange-3);
  --primary-4: var(--orange-4);
  --primary-5: var(--orange-5);
  --primary-6: var(--orange-6);
  --primary-7: var(--orange-7);
  --primary-8: var(--orange-8);
  --primary-9: var(--orange-9);
  --primary-10: var(--orange-10);
  --primary-11: var(--orange-11);
  --primary-12: var(--orange-12);
}

.yellow {
  --primary-1: var(--yellow-1);
  --primary-2: var(--yellow-2);
  --primary-3: var(--yellow-3);
  --primary-4: var(--yellow-4);
  --primary-5: var(--yellow-5);
  --primary-6: var(--yellow-6);
  --primary-7: var(--yellow-7);
  --primary-8: var(--yellow-8);
  --primary-9: var(--yellow-9);
  --primary-10: var(--yellow-10);
  --primary-11: var(--yellow-11);
  --primary-12: var(--yellow-12);
}

.red {
  --primary-1: var(--red-1);
  --primary-2: var(--red-2);
  --primary-3: var(--red-3);
  --primary-4: var(--red-4);
  --primary-5: var(--red-5);
  --primary-6: var(--red-6);
  --primary-7: var(--red-7);
  --primary-8: var(--red-8);
  --primary-9: var(--red-9);
  --primary-10: var(--red-10);
  --primary-11: var(--red-11);
  --primary-12: var(--red-12);
}

.violet {
  --primary-1: var(--violet-1);
  --primary-2: var(--violet-2);
  --primary-3: var(--violet-3);
  --primary-4: var(--violet-4);
  --primary-5: var(--violet-5);
  --primary-6: var(--violet-6);
  --primary-7: var(--violet-7);
  --primary-8: var(--violet-8);
  --primary-9: var(--violet-9);
  --primary-10: var(--violet-10);
  --primary-11: var(--violet-11);
  --primary-12: var(--violet-12);
}
