/* Color Section */

:root {
  --primary-1: var(--primary-light-1, hsl(225deg 60% 99.4%));
  --primary-2: var(--primary-light-2, hsl(223deg 100% 98.6%));
  --primary-3: var(--primary-light-3, hsl(223deg 98.4% 97.1%));
  --primary-4: var(--primary-light-4, hsl(223deg 92.9% 95%));
  --primary-5: var(--primary-light-5, hsl(224deg 87.1% 92%));
  --primary-6: var(--primary-light-6, hsl(224deg 81.9% 87.8%));
  --primary-7: var(--primary-light-7, hsl(225deg 77.4% 82.1%));
  --primary-8: var(--primary-light-8, hsl(226deg 75.4% 74.5%));
  --primary-9: var(--primary-light-9, hsl(226deg 70% 55.5%));
  --primary-10: var(--primary-light-10, hsl(226deg 58.6% 51.3%));
  --primary-11: var(--primary-light-11, hsl(226deg 55% 45%));
  --primary-12: var(--primary-light-12, hsl(226deg 62% 17%));

  --secondary-1: var(--secondary-light-1, hsl(322deg 100% 99.4%));
  --secondary-2: var(--secondary-light-2, hsl(323deg 100% 98.4%));
  --secondary-3: var(--secondary-light-3, hsl(323deg 86.3% 96.5%));
  --secondary-4: var(--secondary-light-4, hsl(323deg 78.7% 94.2%));
  --secondary-5: var(--secondary-light-5, hsl(323deg 72.2% 91.1%));
  --secondary-6: var(--secondary-light-6, hsl(323deg 66.3% 86.6%));
  --secondary-7: var(--secondary-light-7, hsl(323deg 62% 80.1%));
  --secondary-8: var(--secondary-light-8, hsl(323deg 60.3% 72.4%));
  --secondary-9: var(--secondary-light-9, hsl(322deg 65% 54.5%));
  --secondary-10: var(--secondary-light-10, hsl(322deg 63.9% 50.7%));
  --secondary-11: var(--secondary-light-11, hsl(322deg 75% 46%));
  --secondary-12: var(--secondary-light-12, hsl(320deg 70% 13.5%));

  --opacity-1: var(--opacity-light-1, hsl(0deg 0% 0% / 1.2%));
  --opacity-2: var(--opacity-light-2, hsl(0deg 0% 0% / 2.7%));
  --opacity-3: var(--opacity-light-3, hsl(0deg 0% 0% / 4.7%));
  --opacity-4: var(--opacity-light-4, hsl(0deg 0% 0% / 7.1%));
  --opacity-5: var(--opacity-light-5, hsl(0deg 0% 0% / 9%));
  --opacity-6: var(--opacity-light-6, hsl(0deg 0% 0% / 11.4%));
  --opacity-7: var(--opacity-light-7, hsl(0deg 0% 0% / 14.1%));
  --opacity-8: var(--opacity-light-8, hsl(0deg 0% 0% / 22%));
  --opacity-9: var(--opacity-light-9, hsl(0deg 0% 0% / 43.9%));
  --opacity-10: var(--opacity-light-10, hsl(0deg 0% 0% / 47.8%));
  --opacity-11: var(--opacity-light-11, hsl(0deg 0% 0% / 56.5%));
  --opacity-12: var(--opacity-light-12, hsl(0deg 0% 0% / 91%));

  --surface-1: var(--surface-light-1, hsl(206deg 30% 98.8%));
  --surface-2: var(--surface-light-2, hsl(210deg 16.7% 97.6%));
  --surface-3: var(--surface-light-3, hsl(209deg 13.3% 95.3%));
  --surface-4: var(--surface-light-4, hsl(209deg 12.2% 93.2%));
  --surface-5: var(--surface-light-5, hsl(208deg 11.7% 91.1%));
  --surface-6: var(--surface-light-6, hsl(208deg 11.3% 88.9%));
  --surface-7: var(--surface-light-7, hsl(207deg 11.1% 85.9%));
  --surface-8: var(--surface-light-8, hsl(205deg 10.7% 78%));
  --surface-9: var(--surface-light-9, hsl(206deg 6% 56.1%));
  --surface-10: var(--surface-light-10, hsl(206deg 5.8% 52.3%));
  --surface-11: var(--surface-light-11, hsl(206deg 6% 43.5%));
  --surface-12: var(--surface-light-12, hsl(206deg 24% 9%));

  --danger-1: var(--danger-light-1, hsl(359deg 100% 99.4%));
  --danger-2: var(--danger-light-2, hsl(359deg 100% 98.6%));
  --danger-3: var(--danger-light-3, hsl(360deg 100% 96.8%));
  --danger-4: var(--danger-light-4, hsl(360deg 97.9% 94.8%));
  --danger-5: var(--danger-light-5, hsl(360deg 90.2% 91.9%));
  --danger-6: var(--danger-light-6, hsl(360deg 81.7% 87.8%));
  --danger-7: var(--danger-light-7, hsl(359deg 74.2% 81.7%));
  --danger-8: var(--danger-light-8, hsl(359deg 69.5% 74.3%));
  --danger-9: var(--danger-light-9, hsl(358deg 75% 59%));
  --danger-10: var(--danger-light-10, hsl(358deg 69.4% 55.2%));
  --danger-11: var(--danger-light-11, hsl(358deg 65% 48.7%));
  --danger-12: var(--danger-light-12, hsl(354deg 50% 14.6%));

  --warning-1: var(--warning-light-1, hsl(24deg 70% 99%));
  --warning-2: var(--warning-light-2, hsl(24deg 83.3% 97.6%));
  --warning-3: var(--warning-light-3, hsl(24deg 100% 95.3%));
  --warning-4: var(--warning-light-4, hsl(25deg 100% 92.2%));
  --warning-5: var(--warning-light-5, hsl(25deg 100% 88.2%));
  --warning-6: var(--warning-light-6, hsl(25deg 100% 82.8%));
  --warning-7: var(--warning-light-7, hsl(24deg 100% 75.3%));
  --warning-8: var(--warning-light-8, hsl(24deg 94.5% 64.3%));
  --warning-9: var(--warning-light-9, hsl(24deg 94% 50%));
  --warning-10: var(--warning-light-10, hsl(24deg 100% 46.5%));
  --warning-11: var(--warning-light-11, hsl(24deg 100% 37%));
  --warning-12: var(--warning-light-12, hsl(15deg 60% 17%));

  --success-1: var(--success-light-1, hsl(136deg 50% 98.9%));
  --success-2: var(--success-light-2, hsl(138deg 62.5% 96.9%));
  --success-3: var(--success-light-3, hsl(139deg 55.2% 94.5%));
  --success-4: var(--success-light-4, hsl(140deg 48.7% 91%));
  --success-5: var(--success-light-5, hsl(141deg 43.7% 86%));
  --success-6: var(--success-light-6, hsl(143deg 40.3% 79%));
  --success-7: var(--success-light-7, hsl(146deg 38.5% 69%));
  --success-8: var(--success-light-8, hsl(151deg 40.2% 54.1%));
  --success-9: var(--success-light-9, hsl(151deg 55% 41.5%));
  --success-10: var(--success-light-10, hsl(152deg 57.5% 37.6%));
  --success-11: var(--success-light-11, hsl(153deg 67% 28.5%));
  --success-12: var(--success-light-12, hsl(155deg 40% 14%));
}

.dark {
  color-scheme: dark;

  --secondary-1: -dark var(--secondary-1, hsl(318 25% 9.6%));
  --secondary-2: var(--secondary-dark-2, hsl(319deg 32.2% 11.6%));
  --secondary-3: var(--secondary-dark-3, hsl(319deg 41% 16%));
  --secondary-4: var(--secondary-dark-4, hsl(320deg 45.4% 18.7%));
  --secondary-5: var(--secondary-dark-5, hsl(320deg 49% 21.1%));
  --secondary-6: var(--secondary-dark-6, hsl(321deg 53.6% 24.4%));
  --secondary-7: var(--secondary-dark-7, hsl(321deg 61.1% 29.7%));
  --secondary-8: var(--secondary-dark-8, hsl(322deg 74.9% 37.5%));
  --secondary-9: var(--secondary-dark-9, hsl(322deg 65% 54.5%));
  --secondary-10: var(--secondary-dark-10, hsl(323deg 72.8% 59.2%));
  --secondary-11: var(--secondary-dark-11, hsl(325deg 90% 66.4%));
  --secondary-12: var(--secondary-dark-12, hsl(322deg 90% 95.8%));

  --surface-1: var(--surface-dark-1, hsl(200deg 7% 8.8%));
  --surface-2: var(--surface-dark-2, hsl(195deg 7.1% 11%));
  --surface-3: var(--surface-dark-3, hsl(197deg 6.8% 13.6%));
  --surface-4: var(--surface-dark-4, hsl(198deg 6.6% 15.8%));
  --surface-5: var(--surface-dark-5, hsl(199deg 6.4% 17.9%));
  --surface-6: var(--surface-dark-6, hsl(201deg 6.2% 20.5%));
  --surface-7: var(--surface-dark-7, hsl(203deg 6% 24.3%));
  --surface-8: var(--surface-dark-8, hsl(207deg 5.6% 31.6%));
  --surface-9: var(--surface-dark-9, hsl(206deg 6% 43.9%));
  --surface-10: var(--surface-dark-10, hsl(206deg 5.2% 49.5%));
  --surface-11: var(--surface-dark-11, hsl(206deg 6% 63%));
  --surface-12: var(--surface-dark-12, hsl(210deg 6% 93%));

  --opacity-1: var(--opacity-dark-1, hsl(0deg 0% 100% / 0%));
  --opacity-2: var(--opacity-dark-2, hsl(0deg 0% 100% / 1.3%));
  --opacity-3: var(--opacity-dark-3, hsl(0deg 0% 100% / 3.4%));
  --opacity-4: var(--opacity-dark-4, hsl(0deg 0% 100% / 5.6%));
  --opacity-5: var(--opacity-dark-5, hsl(0deg 0% 100% / 8.6%));
  --opacity-6: var(--opacity-dark-6, hsl(0deg 0% 100% / 12.4%));
  --opacity-7: var(--opacity-dark-7, hsl(0deg 0% 100% / 17.6%));
  --opacity-8: var(--opacity-dark-8, hsl(0deg 0% 100% / 24.9%));
  --opacity-9: var(--opacity-dark-9, hsl(0deg 0% 100% / 38.6%));
  --opacity-10: var(--opacity-dark-10, hsl(0deg 0% 100% / 44.6%));
  --opacity-11: var(--opacity-dark-11, hsl(0deg 0% 100% / 59.2%));
  --opacity-12: var(--opacity-dark-12, hsl(0deg 0% 100% / 92.3%));

  --danger-1: var(--danger-dark-1, hsl(353deg 23% 9.8%));
  --danger-2: var(--danger-dark-2, hsl(357deg 34.4% 12%));
  --danger-3: var(--danger-dark-3, hsl(356deg 43.4% 16.4%));
  --danger-4: var(--danger-dark-4, hsl(356deg 47.6% 19.2%));
  --danger-5: var(--danger-dark-5, hsl(356deg 51.1% 21.9%));
  --danger-6: var(--danger-dark-6, hsl(356deg 55.2% 25.9%));
  --danger-7: var(--danger-dark-7, hsl(357deg 60.2% 31.8%));
  --danger-8: var(--danger-dark-8, hsl(358deg 65% 40.4%));
  --danger-9: var(--danger-dark-9, hsl(358deg 75% 59%));
  --danger-10: var(--danger-dark-10, hsl(358deg 85.3% 64%));
  --danger-11: var(--danger-dark-11, hsl(358deg 100% 69.5%));
  --danger-12: var(--danger-dark-12, hsl(351deg 89% 96%));

  --primary-1: var(--primary-dark-1, hsl(229deg 24% 10%));
  --primary-2: var(--primary-dark-2, hsl(230deg 36.4% 12.9%));
  --primary-3: var(--primary-dark-3, hsl(228deg 43.3% 17.5%));
  --primary-4: var(--primary-dark-4, hsl(227deg 47.2% 21%));
  --primary-5: var(--primary-dark-5, hsl(227deg 50% 24.1%));
  --primary-6: var(--primary-dark-6, hsl(226deg 52.9% 28.2%));
  --primary-7: var(--primary-dark-7, hsl(226deg 56% 34.5%));
  --primary-8: var(--primary-dark-8, hsl(226deg 58.2% 44.1%));
  --primary-9: var(--primary-dark-9, hsl(226deg 70% 55.5%));
  --primary-10: var(--primary-dark-10, hsl(227deg 75.2% 61.6%));
  --primary-11: var(--primary-dark-11, hsl(228deg 100% 75.9%));
  --primary-12: var(--primary-dark-12, hsl(226deg 83% 96.3%));

  --success-1: var(--success-dark-1, hsl(146deg 30% 7.4%));
  --success-2: var(--success-dark-2, hsl(155deg 44.2% 8.4%));
  --success-3: var(--success-dark-3, hsl(155deg 46.7% 10.9%));
  --success-4: var(--success-dark-4, hsl(154deg 48.4% 12.9%));
  --success-5: var(--success-dark-5, hsl(154deg 49.7% 14.9%));
  --success-6: var(--success-dark-6, hsl(154deg 50.9% 17.6%));
  --success-7: var(--success-dark-7, hsl(153deg 51.8% 21.8%));
  --success-8: var(--success-dark-8, hsl(151deg 51.7% 28.4%));
  --success-9: var(--success-dark-9, hsl(151deg 55% 41.5%));
  --success-10: var(--success-dark-10, hsl(151deg 49.3% 46.5%));
  --success-11: var(--success-dark-11, hsl(151deg 50% 53.2%));
  --success-12: var(--success-dark-12, hsl(137deg 72% 94%));

  --warning-1: var(--warning-dark-1, hsl(30deg 70% 7.2%));
  --warning-2: var(--warning-dark-2, hsl(28deg 100% 8.4%));
  --warning-3: var(--warning-dark-3, hsl(26deg 91.1% 11.6%));
  --warning-4: var(--warning-dark-4, hsl(25deg 88.3% 14.1%));
  --warning-5: var(--warning-dark-5, hsl(24deg 87.6% 16.6%));
  --warning-6: var(--warning-dark-6, hsl(24deg 88.6% 19.8%));
  --warning-7: var(--warning-dark-7, hsl(24deg 92.4% 24%));
  --warning-8: var(--warning-dark-8, hsl(25deg 100% 29%));
  --warning-9: var(--warning-dark-9, hsl(24deg 94% 50%));
  --warning-10: var(--warning-dark-10, hsl(24deg 100% 58.5%));
  --warning-11: var(--warning-dark-11, hsl(24deg 100% 62.2%));
  --warning-12: var(--warning-dark-12, hsl(24deg 97% 93.2%));
}
