:root {
  --font-3xs: var(--font-3xs-custom, clamp(0.54rem, calc(0.83rem + -0.28vw), 0.77rem));
  --font-2xs: var(--font-2xs-custom, clamp(0.65rem, calc(0.86rem + -0.21vw), 0.82rem));
  --font-xs: var(--font-xs-custom, clamp(0.78rem, calc(0.9rem + -0.12vw), 0.88rem));
  --font-sm: var(--font-sm-custom, clamp(0.94rem, calc(0.94rem + 0vw), 0.94rem));
  --font-md: var(--font-md-custom, clamp(1rem, calc(0.97rem + 0.15vw), 1.13rem));
  --font-lg: var(--font-lg-custom, clamp(1.07rem, calc(1rem + 0.34vw), 1.35rem));
  --font-xl: var(--font-xl-custom, clamp(1.14rem, calc(1.02rem + 0.58vw), 1.62rem));
  --font-2xl: var(--font-2xl-custom, clamp(1.22rem, calc(1.04rem + 0.88vw), 1.94rem));
  --font-3xl: var(--font-3xl-custom, clamp(1.3rem, calc(1.05rem + 1.26vw), 2.33rem));
}
