:root {
  --primary-gradient: var(
    --primary-gradient-custom,
    linear-gradient(--var(--gradient-degree, 180deg), var(--primary-9), var(--primary-8))
  );
  --secondary-gradient: var(
    --secondary-gradient-custom,
    linear-gradient(--var(--gradient-degree, 180deg), var(--secondary-9), var(--secondary-8))
  );
  --danger-gradient: var(
    --danger-gradient-custom,
    linear-gradient(--var(--gradient-degree, 180deg), var(--danger-9), var(--danger-8))
  );
  --success-gradient: var(
    --success-gradient-custom,
    linear-gradient(--var(--gradient-degree, 180deg), var(--success-9), var(--success-8))
  );
  --warning-gradient: var(
    --warning-gradient-custom,
    linear-gradient(--var(--gradient-degree, 180deg), var(--warning-9), var(--warning-8))
  );
  --surface-gradient: var(
    --senary-gradient-custom,
    linear-gradient(--var(--gradient-degree, 180deg), var(--surface-9), var(--surface-8))
  );

  --mixed1-gradient: var(
    --mixed-gradient-custom1,
    linear-gradient(--var(--gradient-degree, 180deg), var(--primary-9), var(--secondary-8))
  );
  --mixed2-gradient: var(
    --mixed-gradient-custom2,
    linear-gradient(--var(--gradient-degree, 180deg), var(--danger-9), var(--warning-8))
  );
  --mixed3-gradient: var(
    --mixed-gradient-custom3,
    linear-gradient(--var(--gradient-degree, 180deg), var(--primary-9), var(--success-8))
  );
  --mixed4-gradient: var(
    --mixed-gradient-custom4,
    linear-gradient(--var(--gradient-degree, 180deg), var(--secondary-9), var(--danger-8))
  );
}
