:root {
  --shadow-2xs: var(--shadow-2xs-custom, 0 1px 2px -1px var(--opacity-6) ;);
  --shadow-xs: var(--shadow-xs-custom, 0 2px 4px -2px var(--opacity-6));
  --shadow-sm: var(--shadow-sm-custom, 0 4px 8px -4px var(--opacity-6));
  --shadow-md: var(--shadow-md-custom, 0 6px 12px -6px var(--opacity-6));
  --shadow-lg: var(--shadow-lg-custom, 0 8px 16px -8px var(--opacity-6));
  --shadow-xl: var(--shadow-xl-custom, 0 12px 24px -12px var(--opacity-6));
  --shadow-2xl: var(--shadow-2xl-custom, 0 16px 32px -16px var(--opacity-6));
  --shadow-in-out: var(
    --shadow-in-out-custom,
    inset 0 0 0.75rem var(--opacity-6),
    1px 1px 3px var(--opacity-6),
    -1px -1px 2px var(--opacity-6)
  );
}
