:root {
  --shadow-xs: 0 1px 2px -1px var(--opacity-6);
  --shadow-sm: 0 2px 4px -2px var(--opacity-6);
  --shadow-md: 0 4px 8px -4px var(--opacity-6);
  --shadow-lg: 0 6px 12px -8px var(--opacity-6);
  --shadow-xl: 0 8px 16px -12px var(--opacity-6);
  --in-out-shadow: inset 0 0 0.75rem var(--opacity-6), 1px 1px 3px var(--opacity-6), -1px -1px 2px var(--opacity-6);
}
