:root {
  --space-none: 0;
  --space-4xs: var(--space-4xs-custom, clamp(1px, 0.6522px + 0.1087vi, 2px));
  --space-3xs: var(--space-3xs-custom, clamp(3px, 3px + 0vi, 3px));
  --space-2xs: var(--space-2xs-custom, clamp(5px, 4.6522px + 0.1087vi, 6px));
  --space-xs: var(--space-xs-custom, clamp(8px, 7.6522px + 0.1087vi, 9px));
  --space-sm: var(--space-sm-custom, clamp(10px, 9.3043px + 0.2174vi, 12px));
  --space-md: var(--space-md-custom, clamp(15px, 13.9565px + 0.3261vi, 18px));
  --space-lg: var(--space-lg-custom, clamp(20px, 18.6087px + 0.4348vi, 24px));
  --space-xl: var(--space-xl-custom, clamp(30px, 27.913px + 0.6522vi, 36px));
  --space-2xl: var(--space-2xl-custom, clamp(40px, 37.2174px + 0.8696vi, 48px));
  --space-3xl: var(--space-3xl-custom, clamp(50px, 46.5217px + 1.087vi, 60px));
  --space-4xl: var(--space-4xl-custom, clamp(70px, 65.1304px + 1.5217vi, 84px));
}
