:root {
  --space-none: 0;
  --space-3xs: var(--space-3xs-custom, clamp(0.25rem, calc(0.24rem + 0.07vw), 0.31rem));
  --space-2xs: var(--space-2xs-custom, clamp(0.44rem, calc(0.41rem + 0.15vw), 0.56rem));
  --space-xs: var(--space-xs-custom, clamp(0.69rem, calc(0.64rem + 0.22vw), 0.88rem));
  --space-sm: var(--space-sm-custom, clamp(0.88rem, calc(0.82rem + 0.3vw), 1.13rem));
  --space-md: var(--space-md-custom, clamp(1.31rem, calc(1.22rem + 0.45vw), 1.69rem));
  --space-lg: var(--space-lg-custom, clamp(1.75rem, calc(1.63rem + 0.6vw), 2.25rem));
  --space-xl: var(--space-xl-custom, clamp(2.63rem, calc(2.45rem + 0.9vw), 3.38rem));
  --space-2xl: var(--space-2xl-custom, clamp(3.5rem, calc(3.26rem + 1.19vw), 4.5rem));
  --space-3xl: var(--space-3xl-custom, clamp(5.25rem, calc(4.89rem + 1.79vw), 6.75rem));
}
