.chips {
  height: fit-content;
  display: inline-flex;
  align-items: center;
  gap: 0.125em;
  padding: 0 0.375em;
  width: fit-content;
  max-width: 25ch;
  border: 2px solid transparent;
  font-weight: 500;
  line-height: 1.2;
  justify-content: safe left;
  & svg {
    width: 1em;
  }

  /*
    These properties serve as fallbacks. If the corresponding utility functions are
    unavailable, these properties take priority. However, if specific props related to
    avatars are provided, they will override these properties.
  */
  border-radius: var(--chip-corner, 1em);
  font-size: var(--chip-size, 0.875rem);
  text-transform: var(--chip-transform, capitalize);
}

/* Chips Variants */

.chips__solid {
  background-color: var(--color-shared-8);
  color: var(--color-shared-12);
}

.chips__outline {
  color: var(--color-shared-11);
  border-color: var(--color-shared-11);
}

.chips__soft {
  border-color: var(--color-shared-7);
  background-color: var(--color-shared-3);
  color: var(--color-shared-11);
}
