.chips {
  text-transform: capitalize;
  height: fit-content;
  display: inline-flex;
  align-items: center;
  gap: 0.125em;
  padding: 0 0.375em;
  width: fit-content;
  max-width: 25ch;
  border: 2px solid transparent;
  font-weight: 500;
  font-size: calc(var(--font-size, var(--chip-size, 1rem)) * 0.75);
  border-radius: var(--border-radius, var(--chip-corner, 1em));
  line-height: 1.2;
  justify-content: safe left;
  & svg {
    width: 1em;
  }
}

/* Chips Variants */

.chips__solid {
  background-color: var(--color-shared-8);
  color: var(--color-shared-12);
}

.chips__outline {
  color: var(--color-shared-11);
  border-color: var(--color-shared-11);
}

.chips__soft {
  border-color: var(--color-shared-7);
  background-color: var(--color-shared-3);
  color: var(--color-shared-11);
}
