.avatar {
  padding: 2rem;
  color: white;
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.avatar__2xs {
  font-size: 0.5rem;
}
.avatar__xs {
  font-size: 0.675rem;
}

.avatar__sm {
  font-size: 75rem;
}
.avatar__md {
  font-size: 0.875rem;
}
.avatar__lg {
  font-size: 1rem;
}
.avatar__xl {
  font-size: 1.25rem;
}
.avatar__2xl {
  font-size: 1.5rem;
}
