.ch-L {
  font-size: 0.875em;
  /* color: inherit; */
}

.ch-C {
  width: fit-content;
  color: var(--text-8);
  display: flex;
  gap: var(--S3);
  align-items: center;

  /* Default Value by The Client */
  font-size: var(--checkbox-size, 1rem);

  &:has(:disabled) {
    cursor: not-allowed;
  }

  &:hover > .ch- {
    box-shadow: 0 0 0 0.125em var(--c7, var(--P7));
  }
}

.ch-E {
  &[aria-checked='false'] + .ch- svg {
    display: none;
  }
  &:where(:checked, :indeterminate) + .ch- {
    &.ch-solid {
      background: var(--c9, none);
      color: var(--c1);
    }
    &.ch-outline {
      background: transparent;
      border-color: var(--c9);
      color: var(--c9);
    }
    &.ch-soft,
    &.ch-mixed {
      /* outline: 0.35em var(--c11) solid; */
      border-color: var(--c5);
      color: var(--c10);
      background: var(--c5);
    }
    &.ch-mixed {
      border-color: var(--c9);
    }
  }

  &:checked:disabled + .ch- {
    color: var(--B5);
    background-color: var(--B10);
  }

  &:disabled + .ch- {
    box-shadow: none;
    border-color: var(--B10);
    background: var(--B10);
    color: transparent; /* Responsible For The Color Of The Check Icon stroke  transparent in disabled state */
  }
  &:disabled ~ * {
    color: var(--B10);
  }
}

.ch- {
  --eq-s: 1.25em;
  --fx: inline-flex;

  border: 1px solid var(--O7);
  border-radius: 0.25em;
  color: transparent; /* Responsible For The Color Of The Check Icon stroke Default to transparent */
}

.ch-I {
  stroke: currentColor;
}

@media (forced-colors: active) {
  .ch-:has(:disabled) {
    color: GrayText;

    & .ch- {
      background: GrayText;
      border-color: GrayText;
    }
  }
}
