.c-h_lbl {
  font-size: 0.875em;
  color: inherit;
}

.c-h_cnt {
  width: fit-content;
  color: var(--text-8);
  display: flex;
  gap: var(--s-xs);
  align-items: center;

  /*
    These properties serve as fallbacks. If the corresponding utility functions are
    unavailable, these properties take priority. However, if specific props related to
    avatars are provided, they will override these properties.
  */
  font-size: var(--checkbox-size, 1rem);

  &:has(:disabled) {
    cursor: not-allowed;
  }

  &:hover > .c-h {
    box-shadow: 0 0 0 0.125em var(--c-7, var(--pri-7));
  }
}

.c-h_el {
  &:checked:disabled + .c-h {
    color: var(--bg-5);
  }
  &[aria-checked='false'] + .c-h svg {
    display: none;
  }
  &:checked + .c-h,
  &:indeterminate + .c-h {
    background: var(--c-9, none);
    color: var(--c-1); /* Responsible For The Color Of The Check Icon stroke  white in checked state */
  }

  &:disabled + .c-h {
    box-shadow: none;
    border-color: var(--bg-10);
    background: var(--bg-10);
    color: transparent; /* Responsible For The Color Of The Check Icon stroke  transparent in disabled state */
  }
  &:disabled ~ * {
    color: var(--bg-10);
  }
}

.c-h {
  --eq-s: 1.25em;
  --fx: inline-flex;

  border: 1px solid var(--opa-6);
  border-radius: 0.25em;
  color: transparent; /* Responsible For The Color Of The Check Icon stroke Default to transparent */
}

.c-h_icn {
  stroke: currentColor;
}

@media (forced-colors: active) {
  .c-h:has(:disabled) {
    color: GrayText;

    /* & .c-h--label {
      color: GrayText;
    } */

    & .c-h {
      background: GrayText;
      border-color: GrayText;
    }
  }
}
