.a-l {
  padding: 0.5em 1em;
  border: 1px solid transparent;

  /*
    These properties serve as fallbacks. If the corresponding utility functions are
    unavailable, these properties take priority. However, if specific props related to
    avatars are provided, they will override these properties.
  */
  border-radius: var(--alert-rad, 0);
  font-size: var(--alert-size, 1rem);
}

/*
//////////////////////////////////////////////////////////////////////////////////////////////////
  Alert Variants Section
//////////////////////////////////////////////////////////////////////////////////////////////////
*/

.a-l_cnt {
  --a-d: column;
  font-size: 0.925em;
  flex-direction: var(--a-d);
  flex: 1;
  gap: var(--s-2);
}

.al_in {
  --a-d: row;
}
