/*
====================================================================================================
    Progress Bar Section
====================================================================================================
*/

.pr-b {
  width: 100%;
  height: 0.25em;
  border-radius: 100px;
  background-color: var(--opa-6);
  position: relative;
}

.pr-b_inner {
  height: 100%;
  position: absolute;
  inset-inline-start: 0;
  top: 0;
  background-image: linear-gradient(to right, var(--c-10), var(--c-9));
  border-radius: inherit;
}

/*
====================================================================================================
    Progress Circle Section
====================================================================================================
*/

.pr-c {
  width: 8em;
  flex: none;
}
.pr-c_svg {
  width: 100%;
  font-size: 1em;
}
.pr-c_background {
  font-size: 1em;
  fill: none;
  stroke: var(--opa-6);
  stroke-width: clamp(2px, 0.375em, 10px);
}

.pr-c_bar {
  font-size: 1em;
  fill: none;
  stroke: var(--c-9);
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dasharray 0.8s ease-in-out;
  stroke-width: clamp(2px, 0.275em, 8px);
}

.pr-c_txt {
  font-size: 20px;
  text-anchor: middle;
  dominant-baseline: central;
  fill: var(--bg-12);
  font-weight: 500;
}

/*
====================================================================================================
    Progress Bar Stack Section
====================================================================================================
*/

.pr-s {
  overflow: hidden;
  min-height: 0.5em;
}

.pr-s_itm {
  height: 100%;
  background-color: var(--c-10);
}
.pr-s_cnt {
  position: relative;

  &::before {
    content: '';
    width: 0.625rem;
    height: 0.625rem;
    background-color: var(--c-10);
    border-radius: 50%;
  }
}
