/*
====================================================================================================
    Progress Bar Section
====================================================================================================
*/

.pb- {
  width: 100%;
  min-width: 12em;
  height: 0.5em;
  /* border-radius: 100rem; */
  background: var(--O6);
  position: relative;
}

.pb-T {
  height: 100%;
  position: absolute;
  inset-inline-start: 0;
  top: 0;
  background: linear-gradient(to right, var(--c9), var(--c10));
  border-radius: inherit;
}
.pr-L {
  margin-inline-start: end;
}

/*
====================================================================================================
    Progress Circle Section
====================================================================================================
*/

.pc- {
  width: 4em;
  flex: none;
}
.pc-S {
  width: 100%;
  font-size: 1em;
}
.pc-C {
  font-size: 1em;
  fill: none;
  stroke: var(--B5);
  stroke-width: clamp(5px, 0.375em, 10px);
}

.pc-B {
  font-size: 1em;
  fill: none;
  stroke: var(--c9);
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dasharray 0.8s ease-in-out;
  stroke-width: clamp(4px, 0.285em, 8px);
}

.pc-T {
  font-size: 1.25rem;
  text-anchor: middle;
  dominant-baseline: central;
  fill: var(--B12);
  font-weight: 500;
}

/*
====================================================================================================
    Progress Bar Stack Section
====================================================================================================
*/

.prs- {
  overflow: hidden;
  height: 0.5em;
  min-width: 12em;
  width: 100%;
}

.prs-I {
  height: 100%;
  background: var(--c10);
}
.prs-C {
  position: relative;
  font-size: clamp(0.5rem, 0.85em, 1rem);

  &::before {
    content: '';
    width: 0.75em;
    height: 0.75em;
    background: var(--c10);
    border-radius: 50%;
  }
}
