// .menu-bar--nested {
//   height: 0;
//   overflow: hidden;
// }

// .menu-bar--nested[data-active='true'] {
//   height: auto;
// }

// .table-of-content--link:hover {
//   color: var(--surface-12);
// }

.aside--list-item[data-active='true'] {
  background-color: var(--primary-4);
  color: var(--primary-12);
  &::before {
    background-color: var(--primary-9);
  }
}

.aside {
  min-width: 200px;
  max-width: 220px;
  position: sticky;
  top: 5rem;
  overflow-y: auto;
  max-height: calc(100vh - 5rem);
}

.table-of-content--wrapper {
  border-inline-start: 1px solid var(--opacity-6);
}

.menu-bar {
  border-inline-end: 1px solid var(--opacity-6);
}

.aside--list-item {
  position: relative;
  width: 100%;
  padding: 0.675rem;
  padding-inline-start: calc(var(--lvl, 1) * 0.875rem);
}

.aside--list-link {
  text-decoration: none;
  width: fit-content;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: var(--font-sm);
  color: var(--surface-11);
}

.aside--list-item::before {
  content: '';
  width: 4px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  // border-radius: 200px;
  transform: translateX(-50%);
}

.menu-bar--nested {
  height: 0;
  overflow: hidden;
  margin: 0;
}

.menu-bar--nested[data-active='true'] {
  height: auto;
}
