.p-a_btn {
  padding: 0.25rem;
  aspect-ratio: 1;
  min-width: 2em;
  color: var(--c12);
  /* overflow: hidden; */

  &[aria-current='page'] {
    border-color: var(--O8);
    outline: min(0.25em, 3px) solid var(--c10);
    outline-offset: -2px;
    &.u_solid {
      outline-color: var(--c11);
    }
  }
}

.p-a_itm {
  line-height: 0;
  width: 30px;
  height: 30px;

  & svg {
    line-height: 1;
  }
}

.p-a_lst {
  display: flex;
  align-items: center;
  gap: var(--Ssm);
  list-style: none;
}
