/*
/////////////////////////////////////////////////////////////////////////////////////////////////
  Form Field Wrapper  Style Section 
/////////////////////////////////////////////////////////////////////////////////////////////////
*/

.fi-C {
  border: 1px solid transparent;
  position: relative;
  overflow: hidden;
  height: fit-content;
  background: var(--B3);

  /*
    These properties serve as fallbacks. If the corresponding utility functions are
    unavailable, these properties take priority. However, if specific props related to
    avatars are provided, they will override these properties.
  */
  font-size: max(14px, var(--field-size, 1rem));
  border-radius: var(--field-rad, 0.25rem);
  text-transform: var(--field-transform);

  &:has(.fi-:read-only) {
    background: var(--B5);
  }

  &:has(.fi-:focus):not(.fi-C-bordered) {
    outline: 2px solid var(--c9);
    outline-offset: -1px;
  }
  &:has([aria-invalid='true']) {
    color: var(--D11);
    border-color: var(--D9);
    outline-color: var(--D9);
    background: var(--D3);
    caret-color: var(--D9);

    input::placeholder {
      color: var(--D11);
    }
  }

  &:has(:disabled) {
    background: var(--B7) !important;
    cursor: not-allowed;
    border-color: var(--O1);
  }

  &:not(:has(.fi-Pr)) .fi-:not(.pin-input) {
    padding-inline-start: 0.625em;
  }

  &:has(.fin-C) .fi- {
    padding-inline-end: 2.85rem !important;
  }

  &:not(:has(.fi-Su)) .fi-:not(.pin-input) {
    padding-inline-end: 0.625em;
  }
}

/* .fi-C .fi-C__fluid { */
.fi-C-fluid {
  width: 100%;
}

.fi-C-outline {
  border-color: var(--B7);
  background: var(--B1);
}
.fi-C-filled {
  border-color: var(--B7);
}

.fi-C-bordered {
  /* border: none; */
  /* outline: 2px solid red; */

  &::before,
  &::after {
    content: '';
    height: 1.5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    inset-inline-start: 0;
    background: var(--O7);
    border-radius: 100px;
  }
  &::after {
    background: var(--c9, var(--P9));
    transform: scaleX(0);
    transition: transform 0.2s;
  }
  &:focus-within {
    /* outline: none; */
    &::after {
      transform: none;
      transition: transform 220ms ease-out;
    }
  }
  &:has([aria-invalid='true']) {
    border: none;
    outline: none;
    &::after {
      background: var(--D11);
    }
    &::before {
      background: var(--D5);
    }
  }
}

.fc-o {
  width: 100%;

  /* &:has(.fi-:read-only) .fi-C {
    background: var(--B4);
  } */
}

/*
/////////////////////////////////////////////////////////////////////////////////////////////////
 Form Field Style Section 
/////////////////////////////////////////////////////////////////////////////////////////////////
*/
.fi- {
  flex: 1;
  min-width: 0;
  cursor: inherit;
  font-size: 1em;
  min-height: 2em;
  resize: none;
  display: inline-block;

  &[type='color'] {
    padding: 0;
    height: 2rem;
  }
  &:disabled,
  &[readonly] {
    pointer-events: none;
  }
}

/*
/////////////////////////////////////////////////////////////////////////////////////////////////
  Input Style Section 
/////////////////////////////////////////////////////////////////////////////////////////////////
*/

.fi-Pr,
.fi-Su {
  font-size: 0.75rem;
  min-width: 2rem;
  padding: 0.25em 0.5em;
}

/*
/////////////////////////////////////////////////////////////////////////////////////////////////
  Input Number Style Section 
/////////////////////////////////////////////////////////////////////////////////////////////////
*/

.fin-C {
  position: absolute;
  inset-inline-end: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 2.5rem;
  & * + * {
    border-top: 1px solid var(--O6);
  }
}
.fn-B {
  line-height: 0;
  background: var(--B4);
  height: 50%;
  &:active {
    background: var(--O6);
  }
  &:hover {
    background: var(--B6);
  }
}

/*
/////////////////////////////////////////////////////////////////////////////////////////////////
  Input Password Style Section 
/////////////////////////////////////////////////////////////////////////////////////////////////
*/

.fp-B {
  line-height: 0;
  min-height: 100%;
  padding: 0 0.5em;
  &:focus-visible {
    box-shadow: inset 0 0 16px var(--O8);
  }
  &:hover {
    background: var(--B5);
  }
  & svg {
    width: 20px;
  }
}

/*
/////////////////////////////////////////////////////////////////////////////////////////////////
  Form Group Style Section 
/////////////////////////////////////////////////////////////////////////////////////////////////
*/
.fg-C {
  color: var(--B11);
  border: 1px solid var(--O6);
}

.fg-hide-border {
  border: none;
}

.fg-L {
  padding: 0.5rem;
  font-size: 0.85rem;
  margin-inline-start: 0.5rem;
}
.fg- {
  padding: 0.5rem;
}
.fg-fluid > * {
  flex-grow: 1;
}

/*
/////////////////////////////////////////////////////////////////////////////////////////////////
  Form Controller Style Section 
/////////////////////////////////////////////////////////////////////////////////////////////////
*/

/* .form-controller--required {
  color: var(--D11);
  margin-inline-start: 0.25em;
  line-height: 0;
  font-weight: bold;
  font-size: 0.875rem;
  vertical-align: center;
} */

.fis-:placeholder-shown + .fis-Su {
  & .fs-I {
    display: none;
  }
  & .fi-Su {
    display: flex;
  }
}

.fis-:not(:placeholder-shown) + .fis-Su {
  & .fs-I {
    display: flex;
  }
  & .fi-Su {
    display: none;
  }
}

.fis-:hover {
  stroke: var(--c-8, var(--P10));
}

.fis- {
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.fs- {
  background: var(--B1);
  width: 100%;
  padding-inline: 0.75rem;
  padding-inline-end: 1.75em !important;
}
.fse-I {
  position: absolute;
  inset-inline-end: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  display: inline-flex;
  /* font-size: 0; */
  & svg {
    stroke: var(--B10);
    width: 1em;
  }
}

.fif- {
  background: var(--c9, var(--B8));
  font-size: 0.9em;
  padding: 0.25rem 1rem;
  cursor: pointer;

  .fi-C:not([data-disabled]) &:hover {
    background: var(--c10, var(--B9));
  }
}

.ff-t {
  padding: 0 1em;
}

.fp- {
  font-size: var(--font-size, var(--input-size, 1rem));
  width: 2.25em;
  height: 2.25em;
  text-align: center;
  box-shadow: inset 0 0 0 1px var(--O3);
  padding: 0 !important;
}

.fc-E {
  color: var(--D11);
  width: fit-content;
  gap: var(--S1);
}

.fc-I {
  font-size: 0;
}
