/*
/////////////////////////////////////////////////////////////////////////////////////////////////
  Form Field Wrapper  Style Section 
/////////////////////////////////////////////////////////////////////////////////////////////////
*/

.form-field-wrapper {
  border: 1px solid transparent;
  color: var(--text-6);
  position: relative;
  overflow: hidden;
  height: fit-content;

  /*
    These properties serve as fallbacks. If the corresponding utility functions are
    unavailable, these properties take priority. However, if specific props related to
    avatars are provided, they will override these properties.
  */
  font-size: max(16px, var(--form-controller-size, 1rem));
  border-radius: var(--form-controller-corner, 0.25rem);
  text-transform: var(--form-controller-transform);

  &:focus-within {
    outline: 2px solid var(--color-shared-9, var(--primary-9));
    outline-offset: -1px;
  }

  &[data-invalid='true'] {
    color: var(--danger-11);
    border-color: var(--danger-9);
    outline-color: var(--danger-9);
    background-color: var(--danger-3);
    input::placeholder {
      color: var(--danger-11);
    }
  }

  &[data-disabled='true'] {
    background-color: var(--surface-7) !important;
    cursor: not-allowed;
    border-color: var(--opacity-1);
  }

  &:not(:has(.input--pref-content)) .form-field:not(.pin-input) {
    padding-inline-start: 1rem;
  }

  &:has(.input-number--counter-wrapper) .form-field {
    padding-inline-end: 2.85rem !important;
  }

  &:not(:has(.input--suf-content)) .form-field:not(.pin-input) {
    padding-inline-end: 1rem;
  }
}

/* .form-field-wrapper .form-field-wrapper__fluid { */
.form-field-wrapper__fluid {
  width: 100%;
  display: block;
}

.form-field-wrapper__outline {
  border-color: var(--surface-7);
}
.form-field-wrapper__filled {
  border-color: var(--opacity-11);
  background-color: var(--surface-1);
}

.form-field-wrapper__bordered {
  border: none;
  outline: 2px solid transparent;
  background-color: var(--opacity-2);

  &::before,
  &::after {
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    inset-inline-start: 0;
    background-color: var(--opacity-7);
    border-radius: 100px;
  }
  &::after {
    background-color: var(--color-shared-9, var(--primary-9));
    transform: scaleX(0);
    transition: transform 0.2s;
  }
  &:focus-within {
    outline: none;
    &::after {
      transform: none;
      transition: transform 220ms ease-out;
    }
  }
  &[data-invalid='true'] {
    border: none;
    outline: none;
    &::after {
      background: var(--danger-11);
    }
    &::before {
      background: var(--danger-5);
    }
  }
}

.text-field--root {
  width: 100%;

  &[data-readonly='true'] .form-field-wrapper {
    background-color: var(--surface-5);
  }
}

/*
/////////////////////////////////////////////////////////////////////////////////////////////////
 Form Field Style Section 
/////////////////////////////////////////////////////////////////////////////////////////////////
*/
.form-field {
  appearance: none;
  flex: 1;
  min-width: 0;
  background-color: transparent;
  outline: none;
  cursor: inherit;
  min-height: 2em;
  resize: none;
  display: inline-block;

  &[type='color'] {
    padding: 0;
    height: 2rem;
  }
  &:disabled {
    pointer-events: none;
  }

  &[type='number'] {
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

/* .field-has-start-padding {
  padding-inline-start: 1rem;
}
.field-has-end-padding {
  padding-inline-end: 1rem;
} */

/*
/////////////////////////////////////////////////////////////////////////////////////////////////
  Input Style Section 
/////////////////////////////////////////////////////////////////////////////////////////////////
*/

.input-field--prefix,
.input-field--suffix {
  font-size: 0.75rem;
  min-width: 2rem;
  padding: 0.25em 0.5em;
}

/*

/*
/////////////////////////////////////////////////////////////////////////////////////////////////
  Input Number Style Section 
/////////////////////////////////////////////////////////////////////////////////////////////////
*/

.input-number--counter-wrapper {
  position: absolute;
  inset-inline-end: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 2.5rem;
  & * + * {
    border-top: 1px solid var(--opacity-6);
  }
}
.number-input--button {
  line-height: 0;
  background-color: var(--surface-7);
  height: 50%;
  &:active {
    background-color: var(--opacity-8);
  }
  &:hover {
    background-color: var(--surface-8);
  }
}

/*
/////////////////////////////////////////////////////////////////////////////////////////////////
  Input Password Style Section 
/////////////////////////////////////////////////////////////////////////////////////////////////
*/

.password-input--button {
  line-height: 0;
  min-height: 100%;
  padding: 0 0.5em;
  &:focus {
    outline: 2px solid var(--color-shared-11, var(--primary-11));
    outline-offset: -2px;
    box-shadow: inset 0 0 16px var(--opacity-8);
  }
  &:hover {
    background-color: var(--surface-5);
  }
  & svg {
    width: 20px;
  }
}

/*
/////////////////////////////////////////////////////////////////////////////////////////////////
  Form Group Style Section 
/////////////////////////////////////////////////////////////////////////////////////////////////
*/
.form-group--container {
  color: var(--surface-11);
  border: 1px solid var(--opacity-6);
}

.form-group--hide-border {
  border: none;
}

.form-group--legend {
  padding: 0.5rem;
  font-size: 0.85rem;
  margin-inline-start: 0.5rem;
}
.form-group {
  padding: 0.5rem;
}
.form-group--fluid > * {
  flex-grow: 1;
}

/*
/////////////////////////////////////////////////////////////////////////////////////////////////
  Form Controller Style Section 
/////////////////////////////////////////////////////////////////////////////////////////////////
*/
.form-controller--required {
  color: var(--danger-11);
  margin-inline-start: 0.25em;
  line-height: 0;
  font-weight: bold;
  font-size: 0.875rem;
  vertical-align: center;
}

.form-field__search:placeholder-shown + .input--search--suffix {
  & .search-field--clear {
    display: none;
  }
  & .input-field--suffix {
    display: flex;
  }
}

.form-field__search:not(:placeholder-shown) + .input--search--suffix {
  & .search-field--clear {
    display: flex;
  }
  & .input-field--suffix {
    display: none;
  }
}

.search-field--clear:hover {
  stroke: var(--shared-color-8, var(--primary-10));
}

.form-field__search {
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.select-field {
  background-color: var(--surface-1);
  width: 100%;
  padding-inline: 0.75rem;
}
.select-chevron {
  position: absolute;
  inset-inline-end: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--surface-11);
}

.input-file {
  background-color: var(--color-shared-7, var(--surface-7));
  font-size: 0.9em;
  padding: 0.25rem 1rem;
  cursor: pointer;

  .form-field-wrapper:not([data-disabled]) &:hover {
    background-color: var(--color-shared-8, var(--surface-8));
  }
}

.pin-input {
  font-size: var(--font-size, var(--input-size, 1rem));
  width: 2.25em;
  height: 2.25em;
  text-align: center;
  box-shadow: inset 0 0 0 1px var(--opacity-3);
  padding: 0;
}
