/* Alignment: Ajc, Aji,Aai, Aac */

/*
 1-  TO Support in flex and in grid because safari does not support end in flex
*/

/* Justify Content Section Style Start */

.u_jus-end {
  justify-content: end;
}

.u_jus-between {
  justify-content: space-between;
}

.u_jus-around {
  justify-content: space-around;
}

.u_jus-evenly {
  justify-content: space-evenly;
}

.u_jus-center {
  justify-content: center;
}

/* Align Item Section Style Start */

.u_jus-items-center {
  justify-items: center;
}

.u_jus-items-end {
  justify-items: end;
}

.u_jus-items-baseline {
  justify-items: baseline;
}

.u_jus-items-stretch {
  justify-items: stretch;
}

/* // Align Item Section Style Start */

.u_it-center {
  align-items: center;
}

.u_it-end {
  align-items: end;
}

.u_it-baseline {
  align-items: baseline;
}

.u_it-start {
  align-items: start;
}

/* // Align Content Section Style Start */

.u_con-end {
  align-content: end;
}

.u_con-between {
  align-content: space-between;
}

.u_con-around {
  align-content: space-around;
}

.u_con-evenly {
  align-content: space-evenly;
}

.u_jus-self-end {
  justify-self: end;
}

.u_jus-self-center {
  justify-self: center;
}
