/* Alignment: Ajc, Aji,Aai, Aac */

/*
 1-  TO Support in flex and in grid because safari does not support end in flex
*/

/* Justify Content Section Style Start */

.Ajc-end {
  justify-content: end;
}

.Ajc-between {
  justify-content: space-between;
}

.Ajc-around {
  justify-content: space-around;
}

.Ajc-evenly {
  justify-content: space-evenly;
}

.Ajc-center {
  justify-content: center;
}

/* Align Item Section Style Start */

.Aji-start {
  justify-items: start;
}
.Aji-center {
  justify-items: center;
}

.Aji-end {
  justify-items: end;
}

.Aji-baseline {
  justify-items: baseline;
}

.Aji-stretch {
  justify-items: stretch;
}

/* // Align Item Section Style Start */

.Aai-center {
  align-items: center;
}

.Aai-end {
  align-items: end;
}

.Aai-baseline {
  align-items: baseline;
}

.Aai-start {
  align-items: start;
}

/*  Align Content Section Style Start */

.Aac-start {
  align-content: start;
}
.Aac-center {
  align-content: center;
}
.Aac-end {
  align-content: end;
}
.Aac-baseline {
  align-content: baseline;
}
.Aac-stretch {
  align-content: stretch;
}
.Aac-between {
  align-content: space-between;
}

.Aac-around {
  align-content: space-around;
}

.Aac-evenly {
  align-content: space-evenly;
}

.Ajc-self-end {
  justify-self: end;
}

.Ajc-self-center {
  justify-self: center;
}
