.A-zoom,
.A-jump-x,
.A-jump-y {
  transition: transform 0.3s;
}

.A-zoom:hover {
  transform: scale(1.1);
}
.A-jump-y:hover {
  transform: translateY(2px);
}
.A-jump-x:hover {
  transform: translateX(2px);
}
