.A-zoom,
.A-jump-x,
.A-jump--x,
.A-jump-y,
.A-jump--y,
.A-zoom-in {
  transition: transform 0.3s;
}

.A-zoom:hover {
  transform: scale(1.1);
}
.A-jump-y:hover {
  transform: translateY(3px);
}
.A-jump-x:hover {
  transform: translateX(3px);
}
.A-jump--x:hover {
  transform: translateX(-3px);
}
.A-jump--y:hover {
  transform: translateY(-3px);
}
.A-zoom-in:hover {
  transform: scale(0.9);
}
