.u_zoom,
.u_jump-x,
.u_jump-y {
  transition: transform 0.3s;
}

.u_zoom:hover {
  transform: scale(1.1);
}
.u_jump-y:hover {
  transform: transurfaceY(2px);
}
.u_jump-x:hover {
  transform: transurfaceX(2px);
}
