.u_primary {
  --color-shared-1: var(--primary-1);
  --color-shared-2: var(--primary-2);
  --color-shared-3: var(--primary-3);
  --color-shared-4: var(--primary-4);
  --color-shared-5: var(--primary-5);
  --color-shared-6: var(--primary-6);
  --color-shared-7: var(--primary-7);
  --color-shared-8: var(--primary-8);
  --color-shared-9: var(--primary-9);
  --color-shared-10: var(--primary-10);
  --color-shared-11: var(--primary-11);
  --color-shared-12: var(--primary-12);
}

.u_secondary {
  --color-shared-1: var(--secondary-1);
  --color-shared-2: var(--secondary-2);
  --color-shared-3: var(--secondary-3);
  --color-shared-4: var(--secondary-4);
  --color-shared-5: var(--secondary-5);
  --color-shared-6: var(--secondary-6);
  --color-shared-7: var(--secondary-7);
  --color-shared-8: var(--secondary-8);
  --color-shared-9: var(--secondary-9);
  --color-shared-10: var(--secondary-10);
  --color-shared-11: var(--secondary-11);
  --color-shared-12: var(--secondary-12);
}
,
.u_warning {
  --color-shared-1: var(--warning-1);
  --color-shared-2: var(--warning-2);
  --color-shared-3: var(--warning-3);
  --color-shared-4: var(--warning-4);
  --color-shared-5: var(--warning-5);
  --color-shared-6: var(--warning-6);
  --color-shared-7: var(--warning-7);
  --color-shared-8: var(--warning-8);
  --color-shared-9: var(--warning-9);
  --color-shared-10: var(--warning-10);
  --color-shared-11: var(--warning-11);
  --color-shared-12: var(--warning-12);
}

.u_success {
  --color-shared-1: var(--success-1);
  --color-shared-2: var(--success-2);
  --color-shared-3: var(--success-3);
  --color-shared-4: var(--success-4);
  --color-shared-5: var(--success-5);
  --color-shared-6: var(--success-6);
  --color-shared-7: var(--success-7);
  --color-shared-8: var(--success-8);
  --color-shared-9: var(--success-9);
  --color-shared-10: var(--success-10);
  --color-shared-11: var(--success-11);
  --color-shared-12: var(--success-12);
}

.u_danger {
  --color-shared-1: var(--danger-1);
  --color-shared-2: var(--danger-2);
  --color-shared-3: var(--danger-3);
  --color-shared-4: var(--danger-4);
  --color-shared-5: var(--danger-5);
  --color-shared-6: var(--danger-6);
  --color-shared-7: var(--danger-7);
  --color-shared-8: var(--danger-8);
  --color-shared-9: var(--danger-9);
  --color-shared-10: var(--danger-10);
  --color-shared-11: var(--danger-11);
  --color-shared-12: var(--danger-12);
}

.u_info {
  --color-shared-1: var(--info-1);
  --color-shared-2: var(--info-2);
  --color-shared-3: var(--info-3);
  --color-shared-4: var(--info-4);
  --color-shared-5: var(--info-5);
  --color-shared-6: var(--info-6);
  --color-shared-7: var(--info-7);
  --color-shared-8: var(--info-8);
  --color-shared-9: var(--info-9);
  --color-shared-10: var(--info-10);
  --color-shared-11: var(--info-11);
  --color-shared-12: var(--info-12);
}

.u_surface {
  --color-shared-1: var(--surface-1);
  --color-shared-2: var(--surface-2);
  --color-shared-3: var(--surface-3);
  --color-shared-4: var(--surface-4);
  --color-shared-5: var(--surface-5);
  --color-shared-6: var(--surface-6);
  --color-shared-7: var(--surface-7);
  --color-shared-8: var(--surface-8);
  --color-shared-9: var(--surface-9);
  --color-shared-10: var(--surface-10);
  --color-shared-11: var(--surface-11);
  --color-shared-12: var(--surface-12);
}
