.u_corner-sharp {
  border-radius: 0;
}

.u_corner-xs {
  border-radius: var(--corner-xs);
}

.u_corner-sm {
  border-radius: var(--corner-sm);
}

.u_corner-md {
  border-radius: var(--corner-md);
}

.u_corner-lg {
  border-radius: var(--corner-lg);
}

.u_corner-xl {
  border-radius: var(--corner-xl);
}

.u_corner-circle {
  border-radius: var(--corner-round);
}

.u_corner-full {
  border-radius: var(--corner-full);
}

.u_corner-hand-1 {
  border-radius: var(---hand-);
}

.u_corner-hand-2 {
  border-radius: var(--corner-hand-2);
}

.u_corner-hand-3 {
  border-radius: var(--corner-hand-3);
}

.u_corner-hand-4 {
  border-radius: var(--corner-hand-4);
}

.u_corner-hand-5 {
  border-radius: var(--corner-hand-5);
}

.u_corner-hand-6 {
  border-radius: var(--corner-hand-6);
}

.u_corner-blob-1 {
  border-radius: var(--corner-blob-1);
}

.u_corner-blob-2 {
  border-radius: var(--corner-blob-2);
}

.u_corner-blob-3 {
  border-radius: var(--corner-blob-3);
}

.u_corner-blob-4 {
  border-radius: var(--corner-blob-4);
}

.u_corner-blob-5 {
  border-radius: var(--corner-blob-5);
}
