.u_rad-sharp {
  border-radius: 0;
}

.u_rad-xs {
  border-radius: var(--rad-xs);
}

.u_rad-sm {
  border-radius: var(--rad-sm);
}

.u_rad-md {
  border-radius: var(--rad-md);
}

.u_rad-lg {
  border-radius: var(--rad-lg);
}

.u_rad-xl {
  border-radius: var(--rad-xl);
}

.u_rad-circle {
  border-radius: var(--rad-round);
}

.u_rad-full {
  border-radius: var(--rad-full);
}

.u_rad-h-1 {
  border-radius: var(--rad-h-1);
}

.u_rad-h-2 {
  border-radius: var(--rad-h-2);
}

.u_rad-h-3 {
  border-radius: var(--rad-h-3);
}

.u_rad-h-4 {
  border-radius: var(--rad-h-4);
}

.u_rad-h-5 {
  border-radius: var(--rad-h-5);
}

.u_rad-h-6 {
  border-radius: var(--rad-h-6);
}

.u_rad-b-1 {
  border-radius: var(--rad-b-1);
}

.u_rad-b-2 {
  border-radius: var(--rad-b-2);
}

.u_rad-b-3 {
  border-radius: var(--rad-b-3);
}

.u_rad-b-4 {
  border-radius: var(--rad-b-4);
}

.u_rad-b-5 {
  border-radius: var(--rad-b-5);
}
