/*Font: Fs, Fw, --fw, --fs */
.Fw1 {
  font-weight: 100;
}

.Fw2 {
  font-weight: 200;
}

.Fw3 {
  font-weight: 300;
}

.Fw4 {
  font-weight: 400;
}

.Fw5 {
  font-weight: 500;
}

.Fw6 {
  font-weight: 600;
}

.Fw7 {
  font-weight: 700;
}

.Fw8 {
  font-weight: 800;
}

.Fw9 {
  font-weight: 900;
}

.Fstitalic {
  font-style: italic;
}

.Fstoblique {
  font-style: oblique;
}

/* Font size section */

.Fs1 {
  font-size: var(--F1);
}
.Fs2 {
  font-size: var(--F2);
}
.Fs3 {
  font-size: var(--F3);
}
.Fs4 {
  font-size: var(--F4);
}
.Fs5 {
  font-size: var(--F5);
}
.Fs6 {
  font-size: var(--F6);
}
.Fs7 {
  font-size: var(--F7);
}
.Fs8 {
  font-size: var(--F8);
}
.Fs9 {
  font-size: var(--F9);
}
