@property --PS {
  syntax: '<length>';
  inherits: false;
  initial-value: 0;
}

/* Position Classes */
.P-relative {
  position: relative;
}

.P-absolute {
  position: absolute;
}

.P-fixed {
  position: fixed;
}

.P-sticky {
  position: sticky;
}

.P-start-start {
  top: var(--PS);
  left: var(--PS);
}

.P-start-center {
  top: var(--PS);
  left: 50%;
  transform: translateX(-50%);
}

.P-start-end {
  top: var(--PS);
  right: var(--PS);
}

.P-center-start {
  top: 50%;
  left: var(--PS);
  transform: translateY(-50%);
}

.P-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.P-center-end {
  top: 50%;
  right: var(--PS);
  transform: translateY(-50%);
}

.P-end-start {
  bottom: var(--PS);
  left: var(--PS);
}

.P-end-center {
  bottom: var(--PS);
  left: 50%;
  transform: translateX(-50%);
}

.P-end-end {
  bottom: var(--PS);
  right: var(--PS);
}
