/*Corner: R, Rh, RB, --R */

.u_rad-sharp {
  border-radius: 0;
}

.u_rad-xs {
  border-radius: var(--rad-xs, 0.125em);
}

.u_rad-sm {
  border-radius: var(--rad-sm, 0.25em);
}

.u_rad-md {
  border-radius: var(--rad-md, 0.5em);
}

.u_rad-lg {
  border-radius: var(--rad-lg, 0.75em);
}

.u_rad-xl {
  border-radius: var(--rad-xl, 1em);
}

.u_rad-circle {
  border-radius: var(--rad-round, 50%);
}

.u_rad-full {
  border-radius: var(--rad-full, 1e5px);
}

.u_rad-h-1 {
  border-radius: var(--rad-h-1, 255px 15px 225px 15px / 15px 225px 15px 255px);
}

.u_rad-h-2 {
  border-radius: var(--rad-h-2, 125px 10px 20px 185px / 25px 205px 205px 25px);
}

.u_rad-h-3 {
  border-radius: var(--rad-h-3, 15px 255px 15px 225px / 225px 15px 255px 15px);
}

.u_rad-h-4 {
  border-radius: var(--rad-h-4, 15px 25px 155px 25px / 225px 150px 25px 115px);
}

.u_rad-h-5 {
  border-radius: var(--rad-h-5, 250px 25px 15px 20px / 15px 80px 105px 115px);
}

.u_rad-h-6 {
  border-radius: var(--rad-h-6, 28px 100px 20px 15px / 150px 30px 205px 225px);
}

.u_rad-b-1 {
  border-radius: var(--rad-b-1, 30% 70% 70% 30% / 53% 30% 70% 47%);
}

.u_rad-b-2 {
  border-radius: var(--rad-b-2, 53% 47% 34% 66% / 63% 46% 54% 37%);
}

.u_rad-b-3 {
  border-radius: var(--rad-b-3, 37% 63% 56% 44% / 49% 56% 44% 51%);
}

.u_rad-b-4 {
  border-radius: var(--rad-b-4, 63% 37% 37% 63% / 43% 37% 63% 57%);
}

.u_rad-b-5 {
  border-radius: var(--rad-b-5, 49% 51% 48% 52% / 57% 44% 56% 43%);
}
