/*Shadow: S */

.S-1 {
  box-shadow: var(--c-Sh1, 0px 1px 2px -1px var(--O5));
}
.S-2 {
  box-shadow: var(--c-Sh2, 1px 1px 2px -1px var(--O5));
}
.S-3 {
  box-shadow: var(--c-Sh3, 1px 2px 4px -2px var(--O5));
}
.S-4 {
  box-shadow: var(--c-Sh4, 2px 4px 8px -4px var(--O5));
}
.S-5 {
  box-shadow: var(--c-Sh5, 3px 6px 12px -6px var(--O5));
}
.S-6 {
  box-shadow: var(--c-Sh6, 4px 8px 16px -8px var(--O5));
}
.S-7 {
  box-shadow: var(--c-Sh7, 4px 12px 24px -12px var(--O5));
}
.S-8 {
  box-shadow: var(--c-Sh8, 5px 16px 32px -16px var(--O5));
}
.S-9 {
  box-shadow: var(--c-Sh9, 6px 20px 40px -20px var(--O5));
}
