/*Size: Ar */

.Sr-1 {
  aspect-ratio: 1;
}
.Sr-4-3 {
  aspect-ratio: 4/3;
}
.Sr-3-4 {
  aspect-ratio: 3/4;
}
.Sr-16-9 {
  aspect-ratio: 16/9;
}
.Sr-18-5 {
  aspect-ratio: 18/5;
}
.Sr-golden {
  aspect-ratio: 1.618/1;
}
.Smw-25c {
  max-width: 25ch;
}
.Smw-30c {
  max-width: 30ch;
}
.Smw-45c {
  max-width: 45ch;
}

.Smw-60c {
  max-width: 60ch;
}

.Smw-75c {
  max-width: 75ch;
}

.Smw-90c {
  max-width: 90ch;
}

.S-e {
  width: var(--eq-s, 1rem);
  min-width: var(--eq-s, 1rem);
  aspect-ratio: 1;
}
