.u_square {
  aspect-ratio: 1;
}

.u_landscape {
  aspect-ratio: 4/3;
}

.u_portrait {
  aspect-ratio: 3/4;
}

.u_widescreen {
  aspect-ratio: 16/9;
}

.u_ultrawide {
  aspect-ratio: 18/5;
}

.u_golden {
  aspect-ratio: 1.618/1;
}

.u_w-25-char {
  width: min(25ch, 100%);
}

.u_w-30-char {
  width: min(30ch, 100%);
}

.u_w-45-char {
  width: min(45ch, 100%);
}

.u_w-60-char {
  width: min(60ch, 100%);
}

.u_w-75-char {
  width: min(75ch, 100%);
}

.u_w-90-char {
  width: min(90ch, 100%);
}

.u_w-half {
  width: 50%;
}

.u_w-one-third {
  width: 33.3%;
}

.u_w-full {
  width: 100%;
}

.u_w-fit-content {
  width: fit-content;
}

.u_same-sz {
  width: var(--eq-s, 1rem);
  min-width: var(--eq-s, 1rem);
  aspect-ratio: 1;
}
