/*Spacing: G, P, Pt, Pb, Pl, Pr, M, Mt, Mb, Ml, Mr */

/* Spacing Style Section Start */
.Sg-1 {
  gap: var(--S1);
}
.Sg-2 {
  gap: var(--S2);
}
.Sg-3 {
  gap: var(--S3);
}
.Sg-4 {
  gap: var(--S4);
}
.Sg-5 {
  gap: var(--S5);
}
.Sg-6 {
  gap: var(--S6);
}
.Sg-7 {
  gap: var(--S7);
}
.Sg-8 {
  gap: var(--S8);
}
.Sg-9 {
  gap: var(--S9);
}
/* Spacing Style Section End */

/* Padding Utilities */
.Sp-1 {
  padding: var(--S1);
}
.Sp-2 {
  padding: var(--S2);
}
.Sp-3 {
  padding: var(--S3);
}
.Sp-4 {
  padding: var(--S4);
}
.Sp-5 {
  padding: var(--S5);
}
.Sp-6 {
  padding: var(--S6);
}
.Sp-7 {
  padding: var(--S7);
}
.Sp-8 {
  padding: var(--S8);
}

.Sp-9 {
  padding: var(--S9);
}

/* Padding Top Utilities */
.Spt-1 {
  padding-top: var(--S1);
}
.Spt-2 {
  padding-top: var(--S2);
}
.Spt-3 {
  padding-top: var(--S3);
}
.Spt-4 {
  padding-top: var(--S4);
}
.Spt-5 {
  padding-top: var(--S5);
}
.Spt-6 {
  padding-top: var(--S6);
}
.Spt-7 {
  padding-top: var(--S7);
}
.Spt-8 {
  padding-top: var(--S8);
}

.Spt-9 {
  padding-top: var(--S9);
}

/* Padding Top Utilities */
.Spl-1 {
  padding-inline-start: var(--S1);
}
.Spl-2 {
  padding-inline-start: var(--S2);
}
.Spl-3 {
  padding-inline-start: var(--S3);
}
.Spl-4 {
  padding-inline-start: var(--S4);
}
.Spl-5 {
  padding-inline-start: var(--S5);
}
.Spl-6 {
  padding-inline-start: var(--S6);
}
.Spl-7 {
  padding-inline-start: var(--S7);
}
.Spl-8 {
  padding-inline-start: var(--S8);
}
.Spl-9 {
  padding-inline-start: var(--S9);
}

/* Padding Right Utilities */
.Spr-1 {
  padding-inline-end: var(--S1);
}
.Spr-2 {
  padding-inline-end: var(--S2);
}
.Spr-3 {
  padding-inline-end: var(--S3);
}
.Spr-4 {
  padding-inline-end: var(--S4);
}
.Spr-5 {
  padding-inline-end: var(--S5);
}
.Spr-6 {
  padding-inline-end: var(--S6);
}
.Spr-7 {
  padding-inline-end: var(--S7);
}
.Spr-8 {
  padding-inline-end: var(--S8);
}

.Spr-9 {
  padding-inline-end: var(--S9);
}

/* Padding Bottom Utilities */
.Spb-1 {
  padding-bottom: var(--S1);
}
.Spb-2 {
  padding-bottom: var(--S2);
}
.Spb-3 {
  padding-bottom: var(--S3);
}
.Spb-4 {
  padding-bottom: var(--S4);
}
.Spb-5 {
  padding-bottom: var(--S5);
}
.Spb-6 {
  padding-bottom: var(--S6);
}
.Spb-7 {
  padding-bottom: var(--S7);
}
.Spb-8 {
  padding-bottom: var(--S8);
}
.Spb-9 {
  padding-bottom: var(--S9);
}

/* Margin Utilities */
.Sm-1 {
  margin: var(--S1);
}
.Sm-2 {
  margin: var(--S2);
}
.Sm-3 {
  margin: var(--S3);
}
.Sm-4 {
  margin: var(--S4);
}
.Sm-5 {
  margin: var(--S5);
}
.Sm-6 {
  margin: var(--S6);
}
.Sm-7 {
  margin: var(--S7);
}
.Sm-8 {
  margin: var(--S8);
}

.Sm-9 {
  margin: var(--S9);
}

/* Margin Top Utilities */
.Smt-1 {
  margin-top: var(--S1);
}
.Smt-2 {
  margin-top: var(--S2);
}
.Smt-3 {
  margin-top: var(--S3);
}
.Smt-4 {
  margin-top: var(--S4);
}
.Smt-5 {
  margin-top: var(--S5);
}
.Smt-6 {
  margin-top: var(--S6);
}
.Smt-7 {
  margin-top: var(--S7);
}
.Smt-8 {
  margin-top: var(--S8);
}

.Smt-9 {
  margin-top: var(--S9);
}

/* Margin Top Utilities */
.Sml-1 {
  margin-inline-start: var(--S1);
}
.Sml-2 {
  margin-inline-start: var(--S2);
}
.Sml-3 {
  margin-inline-start: var(--S3);
}
.Sml-4 {
  margin-inline-start: var(--S4);
}
.Sml-5 {
  margin-inline-start: var(--S5);
}
.Sml-6 {
  margin-inline-start: var(--S6);
}
.Sml-7 {
  margin-inline-start: var(--S7);
}
.Sml-8 {
  margin-inline-start: var(--S8);
}

.Sml-9 {
  margin-inline-start: var(--S9);
}

/* Margin Right Utilities */
.Smr-1 {
  margin-inline-end: var(--S1);
}
.Smr-2 {
  margin-inline-end: var(--S2);
}
.Smr-3 {
  margin-inline-end: var(--S3);
}
.Smr-4 {
  margin-inline-end: var(--S4);
}
.Smr-5 {
  margin-inline-end: var(--S5);
}
.Smr-6 {
  margin-inline-end: var(--S6);
}
.Smr-7 {
  margin-inline-end: var(--S7);
}
.Smr-8 {
  margin-inline-end: var(--S8);
}

.Smr-9 {
  margin-inline-end: var(--S9);
}

/* Padding Bottom Utilities */
.Smb-1 {
  margin-bottom: var(--S1);
}
.Smb-2 {
  margin-bottom: var(--S2);
}
.Smb-3 {
  margin-bottom: var(--S3);
}
.Smb-4 {
  margin-bottom: var(--S4);
}
.Smb-5 {
  margin-bottom: var(--S5);
}
.Smb-6 {
  margin-bottom: var(--S6);
}
.Smb-7 {
  margin-bottom: var(--S7);
}
.Smb-8 {
  margin-bottom: var(--S8);
}
.Smb-9 {
  margin-bottom: var(--S9);
}

.u_mt-auto {
  margin-top: auto;
}

.Sf-1 > * + * {
  margin-top: var(--S1);
}
.Sf-2 > * + * {
  margin-top: var(--S2);
}

.Sf-3 > * + * {
  margin-top: var(--S3);
}

.Sf-4 > * + * {
  margin-top: var(--S4);
}

.Sf-5 > * + * {
  margin-top: var(--S5);
}

.Sf-6 > * + * {
  margin-top: var(--S6);
}
.Sf-7 > * + * {
  margin-top: var(--S7);
}

.Sf-8 > * + * {
  margin-top: var(--S8);
}

.Sf-9 > * + * {
  margin-top: var(--S9);
}
