/*Spacing: G, P, Pt, Pb, Pl, Pr, M, Mt, Mb, Ml, Mr */

/* Spacing Style Section Start */
.Sg1 {
  gap: var(--S1);
}
.Sg2 {
  gap: var(--S2);
}
.Sg3 {
  gap: var(--S3);
}
.Sg4 {
  gap: var(--S4);
}
.Sg5 {
  gap: var(--S5);
}
.Sg6 {
  gap: var(--S6);
}
.Sg7 {
  gap: var(--S7);
}
.Sg8 {
  gap: var(--S8);
}
.Sg9 {
  gap: var(--S9);
}
/* Spacing Style Section End */

/* Padding Utilities */
.Sp2 {
  padding: var(--S1);
}
.Sp3 {
  padding: var(--S3);
}
.Sp4 {
  padding: var(--S4);
}
.Sp5 {
  padding: var(--S5);
}
.Sp6 {
  padding: var(--S6);
}
.Sp7 {
  padding: var(--S7);
}
.Sp8 {
  padding: var(--S8);
}
.Sp9 {
  padding: var(--S9);
}

/* Margin Utilities */
.Sm2 {
  margin: var(--S1);
}
.Sm3 {
  margin: var(--S3);
}
.Sm4 {
  margin: var(--S4);
}
.Sm5 {
  margin: var(--S5);
}
.Sm6 {
  margin: var(--S6);
}
.Sm7 {
  margin: var(--S7);
}
.Sm8 {
  margin: var(--S8);
}
.Sm9 {
  margin: var(--S9);
}

.u_mt-auto {
  margin-top: auto;
}

.l_f-1 > * + * {
  margin-top: var(--S1);
}
.l_f-2 > * + * {
  margin-top: var(--S2);
}

.l_f-3 > * + * {
  margin-top: var(--S3);
}

.l_f-4 > * + * {
  margin-top: var(--S4);
}

.l_f-5 > * + * {
  margin-top: var(--S5);
}

.l_f-6 > * + * {
  margin-top: var(--S6);
}
.l_f-7 > * + * {
  margin-top: var(--S7);
}

.l_f-8 > * + * {
  margin-top: var(--S8);
}

.l_f-9 > * + * {
  margin-top: var(--S9);
}
