/*text:  Tt, Ta, Td, Lh */

.TtU {
  text-transform: uppercase;
}

.TtL {
  text-transform: lowercase;
}

.TtC {
  text-transform: capitalize;
}

.TtCf {
  text-transform: uppercase;
}

/*
      Align Text Style Section
  */

.Tacenter {
  text-align: center;
}

.Taend {
  text-align: end;
}

.Tastart {
  text-align: start;
}

.Tajustify {
  text-align: justify;
}

/*
      Align Text Decoration Section
  */

.Tdover {
  text-decoration: overline;
}

.Tdunder {
  text-decoration: underline;
}

.Tdthrough {
  text-decoration: line-through;
}

/*
      line-height Section
  */

.Tl1 {
  line-height: 1;
}

.Tl2 {
  line-height: 1.25;
}

.Tl3 {
  line-height: 1.5;
}

.Tl4 {
  line-height: 1.75;
}

.Tl5 {
  line-height: 2;
}
