.u_t__uppercase {
  text-transform: uppercase;
}

.u_t__lowercase {
  text-transform: lowercase;
}

.u_t__capitalize {
  text-transform: capitalize;
}

.u_t__first-letter-only::first-letter {
  text-transform: uppercase;
}

/*
      Align Text Style Section
  */

.u_t__center {
  text-align: center;
}

.u_t__end {
  text-align: end;
}

.u_t__start {
  text-align: start;
}

.u_t__justify {
  text-align: justify;
}

/*
      Align Text Decoration Section
  */

.u_t__over {
  text-decoration: overline;
}

.u_t__under {
  text-decoration: underline;
}

.u_t__through {
  text-decoration: line-through;
}

/*
      Align Text Decoration Section
  */

.u_leading__normal {
  line-height: 1;
}

.u_leading__sm {
  line-height: 1.25;
}

.u_leading__md {
  line-height: 1.5;
}

.u_leading__lg {
  line-height: 1.75;
}
