/*text:  Tt, Ta, Td, Lh */

.TtU {
  text-transform: uppercase;
}

.TtL {
  text-transform: lowercase;
}

.TtC {
  text-transform: capitalize;
}

.TtCf {
  text-transform: uppercase;
}

/*
      Align Text Style Section
  */

.u_t-center {
  text-align: center;
}

.u_t-end {
  text-align: end;
}

.u_t-start {
  text-align: start;
}

.u_t-justify {
  text-align: justify;
}

/*
      Align Text Decoration Section
  */

.u_t-over {
  text-decoration: overline;
}

.u_t-under {
  text-decoration: underline;
}

.u_t-through {
  text-decoration: line-through;
}

/*
      line-height Section
  */

.u_t-normal {
  line-height: 1;
}

.u_t-sm {
  line-height: 1.25;
}

.u_t-md {
  line-height: 1.5;
}

.u_t-lg {
  line-height: 1.75;
}
