/* /// TRUNCATE TEXT UTILITY */
/* truncate: Tr */
.u_truncate-1,
.u_truncate-2,
.u_truncate-3,
.u_truncate-4,
.u_truncate-5,
.u_truncate-6 {
  --T: 1;
  display: -webkit-box;
  -webkit-line-clamp: var(--T);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.u_truncate-2 {
  --T: 2;
}

.u_truncate-3 {
  --T: 3;
}

.u_truncate-4 {
  --T: 4;
}

.u_truncate-5 {
  --T: 5;
}

.u_truncate-6 {
  --T: 6;
}
