/* /// TRUNCATE TEXT UTILITY */
/* truncate: Tr */
.T1,
.T2,
.T3,
.T4,
.T5,
.T6 {
  --T: 1;
  display: -webkit-box;
  -webkit-line-clamp: var(--T);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.T2 {
  --T: 2;
}

.T3 {
  --T: 3;
}

.T4 {
  --T: 4;
}

.T5 {
  --T: 5;
}

.T6 {
  --T: 6;
}
