.V-solid,
.V-shadow {
  background: var(--c9);
  color: white;
}

.V-shadow {
  box-shadow: 0px 4px 12px -4px var(--c8);
}

:is(.V-outline, .V-soft, .V-mixed, .V-text, .V-link) {
  color: var(--c11);
}

.V-outline {
  border-color: var(--c11);
}

.V-soft {
  background: var(--c4);
}

.V-mixed {
  border-color: var(--c9);
  background: var(--c4);
}

.V-text {
  border-color: transparent;
}

.V-link {
  text-decoration: underline 1.25px;
  text-underline-offset: 1.5px;
}
