.Vsolid,
.Vshadow {
  background: var(--c9);
  color: white;
}

.Vshadow {
  box-shadow: 0px 4px 12px -4px var(--c8);
}

:is(.Voutline, .Vsoft, .Vmixed, .Vtext, .Vlink) {
  color: var(--c11);
}

.Voutline {
  border-color: var(--c11);
}

.Vsoft {
  background: var(--c3);
}

.Vmixed {
  border-color: var(--c8);
  background: var(--c3);
}

.Vtext {
  border-color: transparent;
}

.Vlink {
  text-decoration: underline 1.25px;
  text-underline-offset: 1.5px;
}
