.u_solid,
.u_shadow {
  background-color: var(--clr-9);
  color: white;
}

.u_shadow {
  box-shadow: 0px 4px 12px -4px var(--clr-8);
}

:is(.u_outline, .u_soft, .u_mixed, .u_text, .u_link) {
  color: var(--clr-11);
}

.u_outline {
  border-color: var(--clr-11);
}

.u_soft {
  background-color: var(--clr-3);
}

.u_mixed {
  border-color: var(--clr-8);
  background-color: var(--clr-3);
}

.u_text {
  border-color: transparent;
}

.u_link {
  text-decoration: underline 1.25px;
  text-underline-offset: 1.5px;
}
