.alert {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;

  /*
    These properties serve as fallbacks. If the corresponding utility functions are
    unavailable, these properties take priority. However, if specific props related to
    avatars are provided, they will override these properties.
  */
  border-radius: var(--alert-corner, 0.25em);
  font-size: var(--alert-size, 1rem);
}

.alert-close {
  margin-inline-start: auto;
}

/*
//////////////////////////////////////////////////////////////////////////////////////////////////
  Alert Variants Section
//////////////////////////////////////////////////////////////////////////////////////////////////
*/

.alert.u_solid {
  border-inline-start: 6px solid var(--opacity-8);
}

.alert--content {
  &[data-inline='true'] {
    gap: var(--space-xs);
  }
  &[data-inline='false'] {
    flex-direction: column;
    align-items: initial;
  }
}
