.k-d {
  border-bottom: 0.15rem solid var(--c-8);
  /* box-shadow: inset 1px 1px 0.175em var(--c-6, var(--bg-6)); */
  /* 
  TODO: Because Of this line Repeated A lot Lets make a way to do it in its own class 
  and shared with all components need it
 */

  /*
    These properties serve as fallbacks. If the corresponding utility functions are
    unavailable, these properties take priority. However, if specific props related to
    avatars are provided, they will override these properties.
  */
  border-radius: var(--kdb-rad, 0.25em);
  font-size: var(--kdb-size, 0.75rem);
  text-transform: var(--kdb-transform, capitalize);
}
