.kdb {
  padding: 0.25em 0.375em;
  background: var(--color-shared-8, var(--surface-1));
  color: var(--color-shared-12, var(--surface-12));
  border: 0.075em solid var(--color-shared-9, var(--surface-12));
  border-bottom-width: 0.175em;
  width: fit-content;
  box-shadow: inset 1px 1px 0.175em var(--color-shared-6, var(--surface-6));
  line-height: 1;
  font-size: var(--font-size, var(--kbd-size, 0.75rem));
  border-radius: var(--border-radius, var(--code-corner, 0.25rem));
  height: fit-content;
}
