/* 
//////////////////////////////////////////////////////////////////////////////////////////////////
  3: 480px
/////////////////////////////////////////////////////////////////////////////////////////////////
*/
@media (min-width: 480px) {
  .gcs-xs {
    grid-template-columns: var(--gcs-xs);
  }
  .grs-xs {
    grid-template-rows: var(--grs-xs);
  }
  .gc-xs {
    grid-column: var(--gc-xs);
  }
  .gr-xs {
    grid-row: var(--gr-xs);
  }
  .xs-hide {
    display: none;
  }
}

/* 
//////////////////////////////////////////////////////////////////////////////////////////////////
  sm: 568px
/////////////////////////////////////////////////////////////////////////////////////////////////
*/

@media (min-width: 568px) {
  .gcs-sm {
    grid-template-columns: var(--gcs-sm);
  }
  .grs-sm {
    grid-template-rows: var(--grs-sm);
  }
  .gc-sm {
    grid-column: var(--gc-sm);
  }
  .gr-sm {
    grid-row: var(--gr-sm);
  }
  .sm-hide {
    display: none;
  }
}

/* 
//////////////////////////////////////////////////////////////////////////////////////////////////
  md: 768px
/////////////////////////////////////////////////////////////////////////////////////////////////
*/

@media (min-width: 768px) {
  .gcs-md {
    grid-template-columns: var(--gcs-md);
  }
  .grs-md {
    grid-template-rows: var(--grs-md);
  }
  .gc-md {
    grid-column: var(--gc-md);
  }
  .gr-md {
    grid-row: var(--gr-md);
  }

  .md-hide {
    display: none;
  }
}

/* 
//////////////////////////////////////////////////////////////////////////////////////////////////
  lg: 1024px
/////////////////////////////////////////////////////////////////////////////////////////////////
*/

@media (min-width: 1024px) {
  .gcs-lg {
    grid-template-columns: var(--gcs-lg);
  }
  .grs-lg {
    grid-template-rows: var(--grs-lg);
  }
  .gc-lg {
    grid-column: var(--gc-lg);
  }
  .gr-lg {
    grid-row: var(--gr-lg);
  }
  .lg-hide {
    display: none;
  }
}

/* 
//////////////////////////////////////////////////////////////////////////////////////////////////
  xl: 1360px
/////////////////////////////////////////////////////////////////////////////////////////////////
*/

@media (min-width: 1360px) {
  .gcs-xl {
    grid-template-columns: var(--gcs-xl);
  }
  .grs-xl {
    grid-template-rows: var(--grs-xl);
  }
  .gc-xl {
    grid-column: var(--gc-xl);
  }
  .gr-xl {
    grid-row: var(--gc-xl);
  }

  .xl-hide {
    display: none;
  }
}

/* 
//////////////////////////////////////////////////////////////////////////////////////////////////
  xxl: 1440px
/////////////////////////////////////////////////////////////////////////////////////////////////
*/

@media (min-width: 1440px) {
  .grs-xl {
    grid-template-columns: var(--gcs-xxl);
  }
  .grs-xl {
    grid-template-rows: var(--grs-xxl);
  }
  .gc-xl {
    grid-column: var(--gc-xxl);
  }
  .gr-xl {
    grid-row: var(--gr-xxl);
  }
  .xxl-hide {
    display: none;
  }
}
