:root {
  /*
   ------------------------------------------------------------------------------------------------------
    Color Theme Section
   ------------------------------------------------------------------------------------------------------
   */

  /* 
     Switched back to hex colors for theme implementation due to file size 
     considerations with HSL in large themes. Might revisit HSL for specific cases.
  */

  /* removed color from the old colors list: 1-2-4 and reordering them again  */
  --P1: var(--Pl-1, #fdfdfe);
  --P2: var(--Pl-2, #f7f9ff);
  --P3: var(--Pl-3, #edf2fe);
  --P4: var(--Pl-4, #e1e9ff);
  --P5: var(--Pl-5, #d2deff);
  --P6: var(--Pl-6, #c1d0ff);
  --P7: var(--Pl-7, #abbdf9);
  --P8: var(--Pl-8, #8da4ef);
  --P9: var(--Pl-9, #3e63dd);
  --P10: var(--Pl-10, #3358d4);
  --P11: var(--Pl-11, #3a5bc7);
  --P12: var(--Pl-12, #1f2d5c);

  --Se1: var(--Sel-1, #fffcfe);
  --Se2: var(--Sel-2, #fef7fb);
  --Se3: var(--Sel-3, #fee9f5);
  --Se4: var(--Sel-4, #fbdcef);
  --Se5: var(--Sel-5, #f6cee7);
  --Se6: var(--Sel-6, #efbfdd);
  --Se7: var(--Sel-7, #e7acd0);
  --Se8: var(--Sel-8, #dd93c2);
  --Se9: var(--Sel-9, #d6409f);
  --Se10: var(--Sel-10, #cf3897);
  --Se11: var(--Sel-11, #c2298a);
  --Se12: var(--Sel-12, #651249);

  --O1: var(--Ol-1, #00000003);
  --O2: var(--Ol-2, #00000007);
  --O3: var(--Ol-3, #0000000c);
  --O4: var(--Ol-4, #00000012);
  --O5: var(--Ol-5, #00000016);
  --O6: var(--Ol-6, #0000001c);
  --O7: var(--Ol-7, #00000023);
  --O8: var(--Ol-8, #00000038);
  --O9: var(--Ol-9, #0000006f);
  --O10: var(--Ol-10, #0000007a);
  --O11: var(--Ol-11, #0000008f);
  --O12: var(--Ol-12, #000000e3);

  --B1: var(--Bl-1, #fcfcfd);
  --B2: var(--Bl-2, #f9f9fb);
  --B3: var(--Bl-3, #f0f0f3);
  --B4: var(--Bl-4, #e8e8ec);
  --B5: var(--Bl-5, #e0e1e6);
  --B6: var(--Bl-6, #d9d9e0);
  --B7: var(--Bl-7, #cdced6);
  --B8: var(--Bl-8, #b9bbc6);
  --B9: var(--Bl-9, #8b8d98);
  --B10: var(--Bl-10, #80838d);
  --B11: var(--Bl-11, #60646c);
  --B12: var(--Bl-12, #1c2024);

  --D1: var(--Dl-1, #fffcfc);
  --D2: var(--Dl-2, #fff7f7);
  --D3: var(--Dl-3, #feebec);
  --D4: var(--Dl-4, #ffdbdc);
  --D5: var(--Dl-5, #ffcdce);
  --D6: var(--Dl-6, #fdbdbe);
  --D7: var(--Dl-7, #f4a9aa);
  --D8: var(--Dl-8, #eb8e90);
  --D9: var(--Dl-9, #e5484d);
  --D10: var(--Dl-10, #dc3e42);
  --D11: var(--Dl-11, #ce2c31);
  --D12: var(--Dl-12, #641723);

  --W1: var(--Wl-1, #fefcfb);
  --W2: var(--Wl-2, #fff7ed);
  --W3: var(--Wl-3, #ffefd6);
  --W4: var(--Wl-4, #ffdfb5);
  --W5: var(--Wl-5, #ffd19a);
  --W6: var(--Wl-6, #ffc182);
  --W7: var(--Wl-7, #f5ae73);
  --W8: var(--Wl-8, #ec9455);
  --W9: var(--Wl-9, #f76b15);
  --W10: var(--Wl-10, #ef5f00);
  --W11: var(--Wl-11, #cc4e00);
  --W12: var(--Wl-12, #582d1d);

  --S1: var(--Sl-1, #fbfefc);
  --S2: var(--Sl-2, #f4fbf6);
  --S3: var(--Sl-3, #e6f6eb);
  --S4: var(--Sl-4, #d6f1df);
  --S5: var(--Sl-5, #c4e8d1);
  --S6: var(--Sl-6, #adddc0);
  --S7: var(--Sl-7, #8eceaa);
  --S8: var(--Sl-8, #5bb98b);
  --S9: var(--Sl-9, #30a46c);
  --S10: var(--Sl-10, #2b9a66);
  --S11: var(--Sl-11, #218358);
  --S12: var(--Sl-12, #193b2d);

  --I1: var(--Il-1, #fbfdff);
  --I2: var(--Il-2, #f4faff);
  --I3: var(--Il-3, #e6f4fe);
  --I4: var(--Il-4, #d5efff);
  --I5: var(--Il-5, #c2e5ff);
  --I6: var(--Il-6, #acd8fc);
  --I7: var(--Il-7, #8ec8f6);
  --I8: var(--Il-8, #5eb1ef);
  --I9: var(--Il-9, #0090ff);
  --I10: var(--Il-10, #0588f0);
  --I11: var(--Il-11, #0d74ce);
  --I12: var(--Il-12, #113264);

  /*
   ------------------------------------------------------------------------------------------------------
    Spacing Theme Section
   ------------------------------------------------------------------------------------------------------
   */

  --s-none: 0;
  --s-4xs: var(--c-s-4xs, clamp(1px, 0.6522px + 0.1087vi, 2px));
  --s-3xs: var(--c-s-3xs, clamp(3px, 3px + 0vi, 3px));
  --s-2xs: var(--c-s-2xs, clamp(5px, 4.6522px + 0.1087vi, 6px));
  --s-xs: var(--c-s-xs, clamp(8px, 7.6522px + 0.1087vi, 9px));
  --s-sm: var(--c-s-sm, clamp(10px, 9.3043px + 0.2174vi, 12px));
  --s-md: var(--c-s-md, clamp(15px, 13.9565px + 0.3261vi, 18px));
  --s-lg: var(--c-s-lg, clamp(20px, 18.6087px + 0.4348vi, 24px));
  --s-xl: var(--c-s-xl, clamp(30px, 27.913px + 0.6522vi, 36px));
  --s-2xl: var(--c-s-2xl, clamp(40px, 37.2174px + 0.8696vi, 48px));
  --s-3xl: var(--c-s-3xl, clamp(50px, 46.5217px + 1.087vi, 60px));
  --s-4xl: var(--c-s-4xl, clamp(70px, 65.1304px + 1.5217vi, 84px));

  /*
   ------------------------------------------------------------------------------------------------------
    Font Theme Section
   ------------------------------------------------------------------------------------------------------
   */

  /* Font Family  */
  --body-font: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu,
    Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Lucida Grande', Helvetica, Arial, sans-serif;
  --heading-font: var(--h-font, var(--body-font));
  --mono-font: Dank Mono, Operator Mono, Inconsolata, Fira Mono, ui-monospace, SF Mono, Monaco, Droid Sans Mono,
    Source Code Pro, monospace;

  /* Font Size variables */
  --f-3xs: var(--c-f-3xs, clamp(0.54rem, calc(0.83rem + -0.28vw), 0.77rem));
  --f-2xs: var(--c-f-2xs, clamp(0.65rem, calc(0.86rem + -0.21vw), 0.82rem));
  --f-xs: var(--c-f-xs, clamp(0.78rem, calc(0.9rem + -0.12vw), 0.88rem));
  --f-sm: var(--c-f-sm, clamp(0.94rem, calc(0.94rem + 0vw), 0.94rem));
  --f-md: var(--c-f-md, clamp(1rem, calc(0.97rem + 0.15vw), 1.13rem));
  --f-lg: var(--c-f-lg, clamp(1.07rem, calc(1rem + 0.34vw), 1.35rem));
  --f-xl: var(--c-f-xl, clamp(1.14rem, calc(1.02rem + 0.58vw), 1.62rem));
  --f-2xl: var(--c-f-2xl, clamp(1.22rem, calc(1.04rem + 0.88vw), 1.94rem));
  --f-3xl: var(--c-f-3xl, clamp(1.3rem, calc(1.05rem + 1.26vw), 2.33rem));
  /*
   ------------------------------------------------------------------------------------------------------
    Border Theme Section
   ------------------------------------------------------------------------------------------------------
   */
  /* --border-size-thin: 1px;
  --border-size-medium: 2px;
  --border-size-bold: 5px;
  --border-size-exta-bold: 10px; */
}

.dark {
  color-scheme: dark;

  --Se1: var(--Sed-1, #191117);
  --Se2: var(--Sed-2, #21121d);
  --Se3: var(--Sed-3, #37172f);
  --Se4: var(--Sed-4, #4b143d);
  --Se5: var(--Sed-5, #591c47);
  --Se6: var(--Sed-6, #692955);
  --Se7: var(--Sed-7, #833869);
  --Se8: var(--Sed-8, #a84885);
  --Se9: var(--Sed-9, #d6409f);
  --Se10: var(--Sed-10, #de51a8);
  --Se11: var(--Sed-11, #ff8dcc);
  --Se12: var(--Sed-12, #fdd1ea);

  --B1: var(--Bd-1, #111113);
  --B2: var(--Bd-2, #18191b);
  --B3: var(--Bd-3, #212225);
  --B4: var(--Bd-4, #272a2d);
  --B5: var(--Bd-5, #2e3135);
  --B6: var(--Bd-6, #363a3f);
  --B7: var(--Bd-7, #43484e);
  --B8: var(--Bd-8, #5a6169);
  --B9: var(--Bd-9, #696e77);
  --B10: var(--Bd-10, #777b84);
  --B11: var(--Bd-11, #b0b4ba);
  --B12: var(--Bd-12, #edeef0);

  --O1: var(--Od-1, #ffffff0d);
  --O2: var(--Od-2, #ffffff1a);
  --O3: var(--Od-3, #ffffff26);
  --O4: var(--Od-4, #ffffff33);
  --O5: var(--Od-5, #ffffff4d);
  --O6: var(--Od-6, #ffffff66);
  --O7: var(--Od-7, #ffffff80);
  --O8: var(--Od-8, #ffffff99);
  --O9: var(--Od-9, #ffffffb3);
  --O10: var(--Od-10, #ffffffcc);
  --O11: var(--Od-11, #ffffffe6);
  --O12: var(--Od-12, #fffffff2);

  --D1: var(--Dd-1, #191111);
  --D2: var(--Dd-2, #201314);
  --D3: var(--Dd-3, #3b1219);
  --D4: var(--Dd-4, #500f1c);
  --D5: var(--Dd-5, #611623);
  --D6: var(--Dd-6, #72232d);
  --D7: var(--Dd-7, #8c333a);
  --D8: var(--Dd-8, #b54548);
  --D9: var(--Dd-9, #e5484d);
  --D10: var(--Dd-10, #ec5d5e);
  --D11: var(--Dd-11, #ff9592);
  --D12: var(--Dd-12, #ffd1d9);

  --P1: var(--Pd-1, #11131f);
  --P2: var(--Pd-2, #141726);
  --P3: var(--Pd-3, #182449);
  --P4: var(--Pd-4, #1d2e62);
  --P5: var(--Pd-5, #253974);
  --P6: var(--Pd-6, #304384);
  --P7: var(--Pd-7, #3a4f97);
  --P8: var(--Pd-8, #435db1);
  --P9: var(--Pd-9, #3e63dd);
  --P10: var(--Pd-10, #5472e4);
  --P11: var(--Pd-11, #9eb1ff);
  --P12: var(--Pd-12, #d6e1ff);

  --S1: var(--Sd-1, #0e1512);
  --S2: var(--Sd-2, #121b17);
  --S3: var(--Sd-3, #132d21);
  --S4: var(--Sd-4, #113b29);
  --S5: var(--Sd-5, #174933);
  --S6: var(--Sd-6, #20573e);
  --S7: var(--Sd-7, #28684a);
  --S8: var(--Sd-8, #2f7c57);
  --S9: var(--Sd-9, #30a46c);
  --S10: var(--Sd-10, #33b074);
  --S11: var(--Sd-11, #3dd68c);
  --S12: var(--Sd-12, #b1f1cb);

  --W1: var(--Wd-1, #17120e);
  --W2: var(--Wd-2, #1e160f);
  --W3: var(--Wd-3, #331e0b);
  --W4: var(--Wd-4, #462100);
  --W5: var(--Wd-5, #562800);
  --W6: var(--Wd-6, #66350c);
  --W7: var(--Wd-7, #7e451d);
  --W8: var(--Wd-8, #a35829);
  --W9: var(--Wd-9, #f76b15);
  --W10: var(--Wd-10, #ff801f);
  --W11: var(--Wd-11, #ffa057);
  --W12: var(--Wd-12, #ffe0c2);

  --I1: var(--Id-1, #0d1520);
  --I2: var(--Id-2, #111927);
  --I3: var(--Id-3, #0d2847);
  --I4: var(--Id-4, #003362);
  --I5: var(--Id-5, #004074);
  --I6: var(--Id-6, #104d87);
  --I7: var(--Id-7, #205d9e);
  --I8: var(--Id-8, #2870bd);
  --I9: var(--Id-9, #0090ff);
  --I10: var(--Id-10, #3b9eff);
  --I11: var(--Id-11, #70b8ff);
  --I12: var(--Id-12, #c2e6ff);
}
