.ty- {
  color: var(--c12);
  font-size: var(--typography-size, inherit);
  text-transform: var(--typography-transform, inherit);
}

.ty-low {
  color: var(--c11);
}

.ty-H {
  font-size: calc(var(--typography-size, 1rem) * 1.25);
}

.ty-L {
  padding: 2px;
  color: var(--P11);
  &:hover {
    text-decoration: underline var(--P9) clamp(1px, 0.1em, 2px);
  }
  &:focus-visible {
    outline: 2px dashed var(--c9);
  }
}
