.t-y {
  color: var(--c-12);
  font-size: var(--typography-size, inherit);
  text-transform: var(--typography-transform, inherit);
}

.t-y-low {
  color: var(--c-11);
}

.t-y_heading {
  font-size: calc(var(--typography-size, 1rem) * 1.25);
}

.t-y_link {
  padding: 2px;
  color: var(--pri-11);
  &:hover {
    text-decoration: underline var(--pri-9) clamp(1px, 0.1em, 2px);
  }
  &:focus-visible {
    outline: 2px dashed var(--c-9);
  }
}
