.gr- {
  display: grid;
}

.gcs-def {
  grid-template-columns: var(--gcs-def);
}
.grs-def {
  grid-template-rows: var(--grs-def);
}

.grs-def {
  grid-row: var(--gr-def);
}

.gc-def {
  grid-column: var(--gc-def);
}

.gr-def {
  grid-row: var(--gr-def);
}
