.grid {
  gap: var(--spacing);
  --columns: var(--regular-columns);
  --rows: var(--regular-rows);
  --areas: var(--regular-areas);

  display: grid;
  grid-template-columns: var(--columns);
  grid-template-rows: var(--rows);
  grid-template-areas: var(--areas);
}

.grid--item {
  grid-column: var(--column);
  grid-row: var(--row);
}
