.ta-C {
  overflow: auto;
  width: 100%;
}

.ta- {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  white-space: nowrap;
  & td,
  & th {
    text-align: start;
    padding: 0.375em;
    font-size: 0.85em;
  }
  & tr {
    border-block-end: var(--c4) 1px solid;
    background: var(--c1);
    width: 100%;
  }

  & th {
    font-weight: 500;
  }
}

.ta-striped {
  & tbody tr:nth-child(even),
  & thead tr {
    background: var(--c4);
  }
}
.ta-soft {
  & tr {
    background: var(--c5);
    border-color: var(--c7);
  }
}
.ta-head-color {
  & th {
    background: var(--c5);
    color: var(--c12);
  }
}
