.table--wrapper {
  overflow-x: auto;
  width: 100%;
}

.table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

.table__border,
.table__border .column {
  border: var(--color-shared-6) 1px solid;
}

.table__striped {
  & .row__body:nth-child(odd) {
    background-color: var(--color-shared-4);
  }
}
.table__soft {
  & .row {
    background-color: var(--color-shared-5);
  }
}
.table__head-color {
  & .row__head {
    background-color: var(--color-shared-8);
    color: var(--color-shared-12);
  }
}

.row {
  border-block-end: var(--color-shared-6) 1px solid;
  background-color: var(--color-shared-1);
  width: 100%;
}

.column {
  text-align: start;
  font-size: 0.85em;
  padding: 0.5em 0.25em;
}

.column__head {
  font-weight: 500;
}
