.t-a_cnt {
  overflow-x: auto;
  width: 100%;
}

.t-a {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

.t-a-c,
.t-a-c .column {
  border: var(--clr-6) 1px solid;
}

.t-a-striped {
  & .row__body:nth-child(odd) {
    background-color: var(--clr-4);
  }
}
.t-a-soft {
  & .row {
    background-color: var(--clr-5);
  }
}
.t-a-head-color {
  & .row__head {
    background-color: var(--clr-8);
    color: var(--clr-12);
  }
}

.row {
  border-block-end: var(--clr-6) 1px solid;
  background-color: var(--clr-1);
  width: 100%;
}

.col {
  text-align: start;
  font-size: 0.85em;
  padding: 0.5em 0.25em;
}

.col__head {
  font-weight: 500;
}
