.rating {
  /*
    These properties serve as fallbacks. If the corresponding utility functions are
    unavailable, these properties take priority. However, if specific props related to
    avatars are provided, they will override these properties.
  */
  font-size: var(--rating-size, 0.875rem);
}

.rating svg {
  width: 7.5em;
}

.rating-path {
  stroke: var(--color-shared-9);
}
