.code {
  background: var(--color-shared-4);
  color: var(--color-shared-11);
  flex: none;
  font-size: var(--font-size, var(--code-size, 0.875rem));
  border-radius: var(--border-radius, var(--code-corner, 0.25rem));
}
