.code {
  max-width: 100%;
  /*
    These properties serve as fallbacks. If the corresponding utility functions are
    unavailable, these properties take priority. However, if specific props related to
    Code are provided, they will override these properties.
  */
  border-radius: var(--code-corner, 0.125em);
  font-size: var(--code-size, 0.875rem);
  text-transform: var(--code-transform, capitalize);
}
