/*
//////////////////////////////////////////////////////////////////////////////////////////////////
  Accdordion Section
//////////////////////////////////////////////////////////////////////////////////////////////////
*/

.accordion {
  font-size: var(--font-size, var(--accordion-size, 1rem));
  & svg {
    width: 1em;
  }
}
.accordion-hide {
  display: none;
}

/*
//////////////////////////////////////////////////////////////////////////////////////////////////
  Accdordion Item Section
//////////////////////////////////////////////////////////////////////////////////////////////////
*/

.accordion--item {
  border-block-end: 1px solid var(--opacity-6);
  overflow: hidden;

  /*
    These properties serve as fallbacks. If the corresponding utility functions are
    unavailable, these properties take priority. However, if specific props related to
    avatars are provided, they will override these properties.
  */
  border-radius: var(--accordion-corner, 0);
  font-size: var(--accordion-size, 1rem);
}

.u_solid {
  border-color: var(--color-shared-9);
}

.u_outline {
  background-color: var(--color-shared-2);
}
.accordion--item__outline:not(:first-child) {
  border-top: none;
}

/*
//////////////////////////////////////////////////////////////////////////////////////////////////
  Accdordion Panel Section
//////////////////////////////////////////////////////////////////////////////////////////////////
*/

.accordion--panel {
  padding: 0.5rem;
  color: var(--surface-12);
}

.accordion--panel-content {
  font-size: 0.85em;
  color: var(--surface-11);
}
/*713
//////////////////////////////////////////////////////////////////////////////////////////////////
  Accdordion Button Section
//////////////////////////////////////////////////////////////////////////////////////////////////
*/

.accordion--button {
  width: 100%;
  text-align: start;
  background-color: transparent;
  padding: 0.75em 0.5em;
  cursor: pointer;
  color: currentColor;
  transform: none;

  &:hover {
    background-color: var(--opacity-3);
  }
  &::focus-visible {
    outline: 2px dashed var(--color-shared-11, var(--primary-9));
    outline-offset: -2px;
  }
  &[aria-expanded='true'] svg {
    transition: transform 0.25s;
    transform: rotate(180deg);
  }

  &[aria-expanded='false'] svg {
    transition: transform 0.25s;
  }
}
