.s-p {
  position: relative;
  flex: none;
  width: 1.25em;
  height: 1.25em;
  box-sizing: content-box;
  /*
    These properties serve as fallbacks. If the corresponding utility functions are
    unavailable, these properties take priority. However, if specific props related to
    avatars are provided, they will override these properties.
  */
  font-size: var(--spinner-size, 0.875rem);
}

.s-p::before,
.s-p::after {
  --border-color: currentcolor;
  content: '';
  position: absolute;
  inset: 0;
  color: var(--clr-10);
  border: min(var(--border), 0.5em) solid transparent;
  border-top-color: var(--border-color);
  border-left-color: var(--border-color);
  border-radius: 50%;
  transform: rotate(-45deg);
  animation: spinner-move 0.85s infinite linear;
}

.s-p::after {
  animation-timing-function: linear;
}

.s-p-invert {
  filter: invert(70%);
}

@keyframes spinner-move {
  to {
    transform: rotate(360deg);
  }
}

@media (forced-colors: active) {
  .s-p::before,
  .s-p::after {
    --border-color: GrayText;
  }
}
