.prose {
  --sh-class: var(--pri-11);
  --sh-identifier: var(--suc-11);
  --sh-sign: var(--bg-11);
  --sh-property: var(--sec-11);
  --sh-entity: var(--war-11);
  --sh-jsxliterals: var(--bg-12);
  --sh-string: var(--suc-10);
  --sh-keyword: var(--dan-11);
  --sh-comment: var(--bg-9);

  & :is(ul, ol) > * + * {
    margin-top: var(--s-2xs);
  }

  ul,
  ol {
    margin-left: 0.5rem;
  }
}

pre:has(.code--section) {
  background-color: var(--bg-3);
  padding: 1rem;
  font-size: 0.925rem;
  overflow: auto;
  max-height: 80vh;
}

.code--section {
  max-width: 100%;
  counter-reset: sh-line-number;
  font-family: 'dank mono', 'operator mono', inconsolata, 'fira mono', ui-monospace, 'sf mono', monaco,
    'droid sans mono', 'source code pro', monospace;
}

.sh__line::before {
  counter-increment: sh-line-number 1;
  content: counter(sh-line-number);
  margin-inline-end: 1.25rem;
  color: hsl(0deg 0% 64%);
  font-size: 0.85rem;
  vertical-align: middle;
}

.sh__line {
  border-inline-start: 4px solid transparent;
  font-size: 0;
  font-size: 0.85rem;
  line-height: 2;

  & > * {
    display: inline-block;
  }
}
