.p-o {
  border: 1px solid var(--B6);
  background: var(--B1);
  position: absolute;
  z-index: 1000000000000000000000000000;
}

.p-o_c {
  font-size: clamp(0.75rem, 0.825em, 1rem);
  padding: 0.25em 1em;
}

.p-o-full {
  width: 100%;
}

.p-o-auto {
  width: fit-content;
}
