/* // TODO: LOOKING FOR A WAY TO MAKE FOCUS HAPPEN ONLY FOR KEYBOARD USER FOCUS-VISIBLE WITH FOCUS-WITHIN */
.r-a_cnt {
  border-radius: 0.5em;

  /*
    These properties serve as fallbacks. If the corresponding utility functions are
    unavailable, these properties take priority. However, if specific props related to
    avatars are provided, they will override these properties.
  */
  font-size: var(--radio-size, 0.875rem);

  /* width: fit-content; */
  &:has(:disabled) {
    color: var(--B11);
    cursor: not-allowed;
  }
}

.rc {
  --eq-s: 1.25em;
  border-radius: 50%;
  position: relative;
  border: 1px solid var(--B7);
  margin-top: 2px;
  &:hover {
    border-color: var(--c9);
  }
}

.r-a {
  &:checked {
    & + .rc {
      outline-offset: -0.75em;
    }

    & + .rc-solid {
      outline: 0.45em var(--c9) solid;
      outline-offset: -0.45em;
    }
    & + .rc-outline {
      outline: 0.35em var(--c9) solid;
      border-color: var(--c9);
    }
    & + .rc-soft {
      outline: 0.35em var(--c11) solid;
      border-color: var(--c5);
      background: var(--c5);
    }
  }

  &:disabled + .rc {
    filter: grayscale(1);
    background: var(--B8);
  }
}

.r-a_lbl {
  max-width: 55ch;
  color: var(--text-8);
  font-size: 0.875em;
}

/* Radio Group Section Style Start */
.ra-g {
  border-radius: 0.5rem;
  font-size: 0.85rem;
}

.ra-g--legend {
  padding: 0.5rem;
  font-size: 0.85rem;
  margin-inline-start: 0.5rem;
}

.ra-g--ho {
  flex-direction: vertical;
}

.ra-g--ve {
  flex-direction: column;
}

/* Radio Group Section Style End */

.rc_c {
  position: relative;
}

.rc_i {
  position: absolute;
  inset-inline-start: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.r-a:checked + .rc_c .rc_i {
  visibility: visible;
}

@media (forced-colors: active) {
  .r-a:disabled {
    & + .rc {
      background-color: GrayText;
      border-color: GrayText;
      filter: none;
    }
    & ~ * {
      color: GrayText;
    }
  }
}
