.a-v {
  /* TODO: CHECK IF IT INLINE FLEX OR The Cache  */
  --fx: inline-flex;
  --eq-s: 2.75em;

  /* overflow: hidden; */
  padding: 0;
  border: 2px solid var(--bg-1);
  background-image: linear-gradient(var(--bg), var(--bg)), linear-gradient(var(--bg-1), var(--bg-1));
  background-clip: content-box, padding-box;
  flex-shrink: 0;

  /*
    These properties serve as fallbacks. If the corresponding utility functions are
    unavailable, these properties take priority. However, if specific props related to
    avatars are provided, they will override these properties.
  */
  border-radius: var(--avatar-rad, 10em);
  font-size: var(--avatar-size, 1rem);

  & > * {
    border-radius: inherit;
  }
}

.a-v_img {
  /* width: 100%; */
  object-fit: cover;
}

/* Avatar Variants */

.a-v-soft {
  --bg: var(--c-3);
  color: var(--c-11);
}

.a-v-solid {
  --bg: var(--c-8);
  color: var(--c-12);
}
.a-v-outline,
.a-v-dashed {
  --bg: var(--c-3);
  padding: 3px;
  border: 2px solid var(--c-9);
}

.a-v-dashed {
  border-style: dashed;
}

/*
//////////////////////////////////////////////////////////////////////////////////////////////////
  Avatar Group Section
//////////////////////////////////////////////////////////////////////////////////////////////////
*/

.av-g {
  display: flex;
  flex-wrap: wrap;

  & > * {
    transition: transform 0.3s;
    transform-origin: left;
  }
  & > *:hover {
    transform: scale(1.1) translateY(-2px);
    z-index: 1;
  }
}

.av-g-stack > * + * {
  margin-inline-start: -0.5em;
}

.av-g-grid {
  gap: 0.375em;
}
