.c-b_cnt {
  width: fit-content;
}
.cb-f {
  border: 1px solid var(--opa-6);
  border-radius: inherit;
  padding: 0.25rem 1rem;
}

.c-b {
  background: var(--bg-1);
  border: 1px solid var(--opa-6);
  border-radius: inherit;

  &:hover {
    background: var(--bg-4);
  }
}
